<div class="content">
  <div class="container">
    <div class="row align-items-stretch no-gutters menu-wrap">
      <div class="col-md-3 g-0">
        <div class="menu-info h-100">
          <div
            class="nav flex-column nav-pills"
            id="licitacion-tab"
            role="tablist"
            aria-orientation="vertical"
          >
            <h3
              class="active text-left mb-2"
              id="licitacion-presentacion-tab"
              data-bs-toggle="pill"
              data-bs-target="#licitacion-presentacion"
              type="button"
              role="tab"
              aria-controls="licitacion-presentacion"
              aria-selected="true"
            >
              &nbsp;&nbsp;2. Licitación
            </h3>
            <button
              class="nav-link text-left"
              id="licitacion-general-tab"
              data-bs-toggle="pill"
              data-bs-target="#licitacion-general"
              type="button"
              role="tab"
              aria-controls="licitacion-general"
              aria-selected="false"
            >
              Información General
            </button>
            <button
              class="nav-link text-left"
              id="licitacion-items-tab"
              data-bs-toggle="pill"
              data-bs-target="#licitacion-items"
              type="button"
              role="tab"
              aria-controls="licitacion-items"
              aria-selected="false"
            >
              Articulos
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-9 g-0">
        <div class="tab-content" id="licitacion-tabContent">
          <div
            class="tab-pane fade show active"
            id="licitacion-presentacion"
            role="tabpanel"
            aria-labelledby="licitacion-presentacion-tab"
            tabindex="0"
          >
            <div class="form h-100">
              <!-- <div class="row imageP"></div> -->
              <div class="row">
                <h3>Licitación</h3>
                <hr />
                <p>
                  Las actividades llevadas a cabo para celebrar un contrato.
                </p>
                <p>
                  Datos sobre el proceso de licitación - invitación pública de
                  posibles contratistas que enviarán propuestas para evaluación
                  y seleccionar a un ganador o ganadores.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-content" id="licitacion-tabContent">
          <div
            class="tab-pane fade"
            id="licitacion-general"
            role="tabpanel"
            aria-labelledby="licitacion-general-tab"
            tabindex="0"
          >
            <div class="form">
              <app-tender-general></app-tender-general>
            </div>
          </div>
        </div>
        <div class="tab-content" id="licitacion-tabContent">
          <div
            class="tab-pane fade"
            id="licitacion-items"
            role="tabpanel"
            aria-labelledby="licitacion-items-tab"
            tabindex="0"
          >
            <div class="form">
              <app-tender-items></app-tender-items>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
