<div class="content">
  <div class="container">
    <div class="row mt-3">
      <div class="col">
        <!-- <p>
          Una lista de transacciones de pago realizadas contra este contrato.
        </p> -->
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="table-responsive-sm">
          <table class="table table-hover table-striped mb-10">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Fecha de transacción</th>
                <th scope="col">Método de pago</th>
                <th scope="col">Monto</th>
                <th scope="col">Moneda</th>
                <th scope="col">
                  Emisor <br />
                  del <br />
                  pago
                </th>
                <th scope="col">
                  Receptor <br />
                  del pago <br />
                </th>
                <th scope="col">Opciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let transaction of transactionsArray; let i = index">
                <td>{{ transaction.id || i + 1 }}</td>
                <td>{{ transaction.date }}</td>
                <td>{{ transaction.paymentMethod }}</td>
                <td>{{ transaction.value.amount }}</td>
                <td>{{ transaction.value.currency }}</td>
                <td>{{ transaction.payer?.name || transaction.payer?.legalName }}</td>
                <td>{{ transaction.payee?.name || transaction.payee?.legalName }}</td>
                <td>
                  <button
                    type="button"
                    class="btn btn-danger btn-delete"
                    (click)="confirmAndDeleteTransaction(i)"
                  >
                    Eliminar
                  </button>
                </td>
              </tr>
              <tr *ngIf="transactionsArray.length === 0">
                <th scope="row" colspan="8" class="text-center">
                  Sin registros.
                </th>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <form [formGroup]="transactionsForm">
      <div class="row">
        <div class="form-floating col mb-3">
          <input
            type="date"
            class="form-control"
            id="TransacctionsDate"
            placeholder="Fecha de la transacción"
            formControlName="date"
          />
          <label for="TransacctionsDate" class="form-label"
            >Fecha de la transacción *</label
          >
          <app-input-validation [element]="date"></app-input-validation>
          <div class="form-text">La fecha de la transacción.</div>
        </div>
      </div>
      <div class="row">
        <div class="form-floating col mb-3">
          <input
            type="text"
            class="form-control"
            id="TransactionsSource"
            placeholder="Fuente de datos"
            formControlName="source"
          />
          <label for="TransactionsSource" class="form-label"
            >Fuente de los datos *</label
          >
          <app-input-validation [element]="source"></app-input-validation>
          <div class="form-text">
            Usado para apuntar a un Fiscal Data Package, un archivo IATI o una
            fuente legible por computadora o por un humano donde los usuarios
            puedan obtener más información sobre los identificadores de partida
            presupuestaria o identificadores de proyectos, provistos aquí.
          </div>
        </div>
        <div class="form-floating col mb-3">
          <select class="form-select" formControlName="paymentMethod">
            <option
              *ngFor="let method of paymentMethods"
              [ngValue]="method.code"
            >
              {{ method.title }}
            </option>
          </select>
            <app-input-validation [element]="paymentMethod"></app-input-validation>
          <div class="form-text">
            El método de pago utilizado para realizar la transacción.
          </div>
          <label for="TransactionsPaymentMethod">Método de Pago *</label>
          <p class="mt-2">
            {{ getPaymentMethodDesc(transactionsForm.value.paymentMethod) }}
          </p>
        </div>
      </div>

      <fieldset class="border p-3 mb-3">
        <legend class="w-auto px-2">Valor *</legend>
        <hr />
        <p>
          El valor de la transacción. Los valores financieros deben ser
          publicados con una moneda.
        </p>
        <div class="row" formGroupName="value">
          <div class="form-floating col-md-6">
            <input
              type="number"
              class="form-control"
              id="TransactionsValueAmount"
              placeholder="Monto de la transacción"
              formControlName="amount"
            />
            <label for="TransactionsValueAmount">Monto *</label>
            <app-input-validation [element]="amount"></app-input-validation>
            <div class="form-text">Monto como número.</div>
          </div>

          <div class="form-floating form-group col-md-6">
            <select
              class="form-select"
              aria-label="moneda"
              formControlName="currency"
            >
              <option *ngFor="let c of currency" [ngValue]="c.code">
                {{ c.title }}
              </option>
            </select>
            <div class="form-text">
              La moneda del monto, tomado de la lista de códigos
              <a
                href="https://standard.open-contracting.org/1.1/es/schema/codelists/#currency"
                target="_blank"
                >'Moneda'</a
              >.
            </div>
            <label for="TransactionsValueCurrency">Moneda *</label>
            <app-input-validation [element]="currencyTransaction"></app-input-validation>
          </div>
        </div>
      </fieldset>

      <div class="row">
        <div class="form-floating col mb-3">
          <select class="form-select" formControlName="payer">
            <option
              *ngIf="payers.length === 0"
              [disabled]="payers.length === 0"
            >
              No hay registros de emisores de pago
            </option>
            <option></option>
            <option *ngFor="let p of payers" [ngValue]="p">
              {{ p?.legalName || p?.name }} - ({{ getPartiesListTitle(p?.roles || []) }})
            </option>
          </select>
          <label for="">Nombre del emisor del pago *</label>
          <small *ngIf="payers.length === 0" class="text-danger">
            Debe registrar al menos un emisor del pago en la sección de "Actores".
          </small>
          <div class="form-text">
            Persona encargado por la Entidad o Institución pública de dar
            cumplimiento al pago de la adquisición, arrendamiento, servicio u
            obra contratados.
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-floating col mb-3">
          <select class="form-select" formControlName="payee">
            <option
              *ngIf="payee.length === 0"
              [disabled]="payee.length === 0"
            >
              No hay registros de receptores de pago
            </option>
            <option></option>
            <option *ngFor="let b of payee" [ngValue]="b">
              {{ b?.legalName || b?.name }} - ({{ getPartiesListTitle(b?.roles || []) }})
            </option>
          </select>
          <label for="">Nombre del receptor del pago *</label>
          <small *ngIf="payee.length === 0" class="text-danger">
            Debe registrar al menos un receptor del pago en la sección de "Actores".
          </small>
          <div class="form-text">
            Es una persona física o moral la cual recibe un pago económico
            derivado de un contrato (transacción).
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-floating col mb-3">
          <input
            type="text"
            class="form-control"
            id="TransactionsUri"
            placeholder="URI"
            formControlName="uri"
          />
          <label for="TransactionsUri">URI</label>
          <!-- <app-input-validation [element]="uri"></app-input-validation> -->
          <div class="form-text">
            Una URI apuntando directamente al registro legible por maquinas
            sobre esta transacción.
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button
            type="button"
            class="btn btn-danger btn-add"
            (click)="addNewTransactions()"
            [disabled]="!enableAddTransactionsButton()"
          >
            Agregar transacción
          </button>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-12 spin">
          <div *ngIf="mostrarSpinner" class="spinner-container">
            <div class="spinner-border" role="status">
              <span class="visually-hidden">Guardando...</span>
            </div>
            <p class="mt-2">Guardando...</p>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>