<div class="container">
  <div class="row">
    <div class="col">
      <h3>Hitos</h3>
      <hr />
      <p>
        Se refiere a una lista de eventos relevantes y/o entregables asociados a
        cada fase de la contratación pública. Como referencia, son puntos
        significativos en el tiempo o en un proceso que marcan un logro, un
        cambio relevante o un evento importante en la implementación del
        proyecto, utilizado para medir el progreso y establecer referencias en
        diversos contextos. Los hitos ayudan a evaluar si los objetivos del
        proyecto se están cumpliendo.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="table-responsive-sm">
        <table class="table table-hover table-striped mb-10">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Titulo</th>
              <th scope="col">Tipo</th>
              <th scope="col">Descripción</th>
              <th scope="col">Codigo</th>
              <th scope="col">Fecha de vencimiento</th>
              <th scope="col">Fecha de cumplimiento</th>
              <th scope="col">Fecha de modificación</th>
              <th scope="col">Estatus</th>

              <th scope="col">Opciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let ele of milestonesArray; index as i">
              <th scope="row">{{ ele.id || i + 1 }}</th>
              <td>{{ ele.title }}</td>
              <td>{{ getMilestoneTypeDesc(ele.type) }}</td>
              <td>{{ ele.description }}</td>
              <td>{{ ele.code }}</td>
              <td>{{ ele.dueDate }}</td>
              <td>{{ ele.dateMet }}</td>
              <td>{{ ele.dateModified }}</td>
              <td>{{ getMilestoneStatusDesc(ele.status) }}</td>
              <td>
                <button
                  type="button"
                  class="btn btn-danger btn-delete"
                  (click)="deleteMilestone.emit(i)"
                >
                  Eliminar
                </button>
              </td>
            </tr>
            <tr *ngIf="milestonesArray.length === 0">
              <th scope="row" colspan="10" class="text-center">
                Sin registros.
              </th>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <hr />
  <form [formGroup]="milestoneForm">
    <div class="row">
      <div class="form-floating col mb-3">
        <input
          class="form-control"
          id="title"
          type="text"
          placeholder="Título *"
          formControlName="title"
        />
        <label for="title">Titulo *</label>
        <app-input-validation [element]="title"></app-input-validation>
        <div class="form-text">Título del hito.</div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <label for="type">Tipo de hito *</label>
      </div>
      <div class="form-floating col mb-3">
        <select class="form-select" formControlName="type">
          <option *ngFor="let d of milestoneType" [ngValue]="d.code">
            {{ d.title }}
          </option>
        </select>
        <app-input-validation [element]="type"></app-input-validation>
        <div class="form-text">
          La naturaleza del hito, tomado de la lista de códigos
          <a
            href="https://standard.open-contracting.org/1.1/es/schema/codelists/#milestone-type"
            target="_blank"
            >milestoneType</a
          >.
        </div>
        <p>{{ getMilestoneTypeDesc(milestoneForm.value.type) }}</p>
      </div>
    </div>

    <div class="row">
      <div class="form-floating col-12 mb-3">
        <textarea
          class="form-control"
          id="description"
          type="text"
          placeholder="Descripción*"
          style="height: 100px"
          formControlName="description"
        ></textarea>
        <label for="description">Descripción *</label>
        <app-input-validation [element]="description"></app-input-validation>
        <div class="form-text">Una descripción del hito.</div>
      </div>
    </div>

    <div class="row">
      <div class="form-floating col mb-3">
        <input
          class="form-control"
          id="URL"
          type="text"
          placeholder="URL*"
          formControlName="code"
        />
        <label for="URL">Codigo *</label>
        <app-input-validation [element]="code"></app-input-validation>
        <div class="form-text">
          Los códigos de hitos pueden utilizarse para dar seguimiento a eventos
          específicos que tienen lugar en el proceso de contratación. Por
          ejemplo, un código de 'Apertura de proposiciones' podría ser utilizado
          para permitir que los participantes consideren que este hito señala la
          fecha en que se aperturan las proposiciones. Los códigos de hitos se
          desprenden de una lista de códigos abierta y deben definirse entre los
          productores de los datos y las aplicaciones tecnológicas que los
          utilicen.
        </div>
      </div>
    </div>

    <div class="row">
      <div class="form-floating col mb-3">
        <input
          class="form-control"
          id="datePublished"
          type="date"
          formControlName="dueDate"
        />
        <label for="datePublished">Fecha de vencimiento *</label>
        <app-input-validation [element]="dueDate"></app-input-validation>
        <div class="form-text">La fecha en que se debe cumplir el hito.</div>
      </div>

      <div class="form-floating col mb-3">
        <input
          class="form-control"
          id="datePublished"
          type="date"
          formControlName="dateMet"
        />
        <label for="datePublished">Fecha de cumplimiento *</label>
        <app-input-validation [element]="dateMet"></app-input-validation>
        <div class="form-text">La fecha en que se cumplió el hito.</div>
      </div>

      <div class="form-floating col mb-3">
        <input
          class="form-control"
          id="dateModified"
          type="date"
          formControlName="dateModified"
        />
        <label for="dateModified">Fecha de modificación *</label>
        <app-input-validation [element]="dateModified"></app-input-validation>
        <div class="form-text">
          La fecha en que el hito fue revisado o modificado por última vez y se
          cambió el estatus o se confirmó que continuaba siendo correcto.
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <label for="status"> Estatus </label>
      </div>
      <div class="form-floating col mb-3">
        <select class="form-select" formControlName="status">
          <option *ngFor="let d of milestoneStatus" [ngValue]="d.code">
            {{ d.title }}
          </option>
        </select>
        <app-input-validation [element]="status"></app-input-validation>
        <div class="form-text">
          El estado que fue alcanzado en la fecha proporcionada en 'Fecha de
          modificación' (dateModified), tomada de la lista de códigos
          milestoneStatus.
        </div>
        <p *ngIf="milestoneForm.value.status">
          {{ getMilestoneStatusDesc(milestoneForm.value.status) }}
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <button
          type="button"
          class="btn btn-danger btn-add"
          (click)="addNewMilestone()"
          [disabled]="!enableAddMilestoneButton()"
        >
          Agregar hito
        </button>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-12 spin">
        <div *ngIf="mostrarSpinner" class="spinner-container">
          <div class="spinner-border" role="status">
            <span class="visually-hidden">Guardando...</span>
          </div>
          <p class="mt-2">Guardando...</p>
        </div>
      </div>
    </div>
  </form>
</div>
