<div class="container">
  <div class="row">
    <div class="col">
      <h3>Punto de contacto</h3>
      <hr />
      <div class="container mt-5">
        <p>
          Punto de Contacto: Es el canal de comunicación que existe entre los
          actores involucrados en el proceso de contratación (Entidad o
          Institución pública y Licitante o Proveedor).
        </p>
      </div>
    </div>
  </div>
  <form [formGroup]="contactPointForm">
    <div class="row">
      <div class="form-floating col mb-2">
        <input
          class="form-control"
          id="type"
          type="text"
          data-sb-validations="required"
          placeholder="Tipo de punto de contacto*"
          formControlName="type"
        />
        <label for="type">Tipo de punto de contacto</label>
        <!-- <app-input-validation [element]="type"></app-input-validation> -->
      </div>
      <div class="form-text">
        Especificar el tipo de punto de contacto de acuerdo con la lista de
        códigos 'Tipo de punto de contacto'.
      </div>
    </div>

    <div class="row">
      <div class="form-floating col mb-2">
        <input
          class="form-control"
          id="name"
          type="text"
          data-sb-validations="required"
          placeholder="Nombre completo*"
          formControlName="name"
        />
        <label for="name">Nombre completo</label>
        <!-- <app-input-validation [element]="name"></app-input-validation> -->
      </div>
      <div class="form-text">
        El nombre de la persona de contacto, departamento o punto de contacto en
        relación a este proceso de contratación.
      </div>
    </div>

    <div class="row">
      <div class="form-floating col mb-2">
        <input
          class="form-control"
          id="givenName"
          type="text"
          data-sb-validations="required"
          placeholder="Nombre*"
          formControlName="givenName"
        />
        <label for="givenName">Nombre</label>
        <!-- <app-input-validation [element]="givenName"></app-input-validation> -->
      </div>
      <div class="form-text">Nombre de la persona física.</div>
    </div>

    <div class="row">
      <div class="form-floating col mb-2">
        <input
          class="form-control"
          id="patronymicName"
          type="text"
          data-sb-validations="required"
          placeholder="Primer apellido*"
          formControlName="patronymicName"
        />
        <label for="patronymicName">Primer apellido</label>
        <!-- <app-input-validation [element]="patronymicName"></app-input-validation> -->
      </div>
      <div class="form-text">
        Primer apellido de la persona física. Puede ser utilizado para capturar
        el apellido común de la persona física o el primer apellido en países
        hispanoparlantes (típicamente el apellido paterno).
      </div>
    </div>

    <div class="row">
      <div class="form-floating col mb-2">
        <input
          class="form-control"
          id="matronymicName"
          type="text"
          data-sb-validations="required"
          placeholder="Segundo apellido*"
          formControlName="matronymicName"
        />
        <label for="matronymicName">Segundo apellido</label>
        <!-- <app-input-validation [element]="matronymicName"></app-input-validation> -->
      </div>
      <div class="form-text">
        Segundo apellido de la persona física. Puede ser utilizado para el
        segundo apellido en países hispanoparlantes (típicamente el apellido
        materno).
      </div>
    </div>

    <div class="row">
      <div class="form-floating col mb-2">
        <input
          class="form-control"
          id="email"
          type="text"
          data-sb-validations="required"
          placeholder="Correo electrónico*"
          formControlName="email"
        />
        <label for="email">Correo electrónico</label>
        <!-- <app-input-validation [element]="email"></app-input-validation> -->
      </div>
      <div class="form-text">
        La dirección de correo del punto o persona de contacto.
      </div>
    </div>

    <div class="row">
      <div class="form-floating col mb-2">
        <input
          class="form-control"
          id="telephone"
          type="text"
          data-sb-validations="required"
          placeholder="Teléfono*"
          formControlName="telephone"
        />
        <label for="telephone">Teléfono</label>
      </div>
      <!-- <app-input-validation [element]="telephone"></app-input-validation> -->
      <div class="form-text">
        El número de teléfono del punto o persona de contacto. Este debe de
        incluir el código de marcación internacional.
      </div>
    </div>

    <div class="row">
      <div class="form-floating col mb-2">
        <input
          class="form-control"
          id="faxNumber"
          type="text"
          data-sb-validations="required"
          placeholder="Número de fax*"
          formControlName="faxNumber"
        />
        <label for="faxNumber">Número de fax</label>
        <!-- <app-input-validation [element]="faxNumber"></app-input-validation> -->
      </div>
      <div class="form-text">
        El número de fax del punto o persona de contacto. Este debe de incluir
        el código de marcación internacional.
      </div>
    </div>

    <div class="row">
      <div class="form-floating col mb-2">
        <input
          class="form-control"
          id="url"
          type="text"
          data-sb-validations="required"
          placeholder="URL*"
          formControlName="url"
        />
        <label for="url">URL</label>
        <!-- <app-input-validation [element]="url"></app-input-validation> -->
      </div>
      <div class="form-text">
        Una dirección web para el punto o persona de contacto.
      </div>
    </div>

    <fieldset class="border p-3 mb-3">
      <legend>Idioma(s) disponible(s)</legend>
      <small>Una matriz de códigos de idioma (por ejemplo, en, es, uk).</small>
      <div class="row">
        <div class="col-10">
          <div class="row">
            <div class="form-floating col mb-5">
              <select
                class="form-select"
                [(ngModel)]="optLanguage"
                [ngModelOptions]="{ standalone: true }"
              >
                <option *ngFor="let d of optsLanguage" [ngValue]="d.code">
                  {{ d.name }}
                </option>
              </select>
              <!-- <small
                *ngIf="contactPointForm.value.availableLanguage.length === 0"
                class="text-danger"
              >
                Debe registrar al menos un idioma.
              </small> -->
            </div>
          </div>
        </div>
        <div class="form-floating col-2 mb-5">
          <button
            type="button "
            class="btn btn-danger btn-add"
            (click)="addAvailableLanguage()"
          >
            Agregar
          </button>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="table-responsive">
            <table class="table table-striped table-hover">
              <thead>
                <tr>
                  <th scope="col">Idioma</th>
                  <th scope="col">Opciones</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="
                    let item of contactPointForm.value.availableLanguage;
                    index as i
                  "
                >
                  <td scope="row">{{ getLanguageData(item)?.name }}</td>
                  <td>
                    <button
                      type="button"
                      class="btn btn-danger btn-delete"
                      (click)="deleteAvailableLanguage(i)"
                    >
                      Eliminar
                    </button>
                  </td>
                </tr>
                <tr
                  *ngIf="contactPointForm.value.availableLanguage.length === 0"
                >
                  <th scope="row" colspan="8" class="text-center">
                    Sin registros.
                  </th>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </fieldset>

    <div class="row">
      <div class="col">
        <button type="button" class="btn btn-danger btn-save" (click)="save()">
          Guardar punto de contacto
        </button>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-12 spin">
        <div *ngIf="mostrarSpinner" class="spinner-container">
          <div class="spinner-border" role="status">
            <span class="visually-hidden">Guardando...</span>
          </div>
          <p class="mt-2">Guardando...</p>
        </div>
      </div>
    </div>
    <!-- fin -->
  </form>
</div>
