<div class="container">
  <div class="row">
    <div class="col">
      <h3>Información general</h3>
      <hr />
    </div>
  </div>

  <form [formGroup]="generalForm">
    <div class="row">
      <div class="form-floating col mb-2">
        <select class="form-select" formControlName="status">
          <option *ngFor="let s of awardStatus" [ngValue]="s.code">
            {{ s.title }}
          </option>
        </select>
        <label for="status">Estatus de la Adjudicación *</label>
        <app-input-validation [element]="status"></app-input-validation>
        <p class="mt-2">{{ getAwardStatusDesc(generalForm.value.status) }}</p>
      </div>
    </div>
    <div class="row">
      <div class="form-floating col-md-12 mb-2">
        <input
          class="form-control"
          id="id"
          type="text"
          placeholder="Identificador de la adjudicación"
          formControlName="id"
        />
        <label for="AwardsTitle">Identificador de la adjudicación *</label>

        <app-input-validation [element]="id"></app-input-validation>
      </div>
      <div class="form-text">Identificador de la adjudicación</div>
    </div>
    <div class="row">
      <div class="form-floating col-md-12 mb-2">
        <input
          class="form-control"
          id="AwardsTitle"
          type="text"
          placeholder="Título"
          formControlName="title"
        />
        <label for="AwardsTitle">Título *</label>

        <app-input-validation [element]="title"></app-input-validation>
      </div>
      <div class="form-text">Título de la adjudicación.</div>
    </div>
    <div class="row">
      <div class="form-floating col-md-12 mb-2">
        <textarea
          class="form-control"
          id="AwardsDescription"
          type="text"
          style="height: 100px"
          placeholder="Descripción"
          formControlName="description"
        ></textarea>
        <label for="AwardsDescription">Descripción *</label>
        <app-input-validation [element]="description"></app-input-validation>
      </div>
      <div class="form-text">Descripción de la adjudicación.</div>
    </div>
    <div class="row">
      <div class="form-floating col mb-2">
        <textarea
          class="form-control"
          id="AwardsRationale"
          type="text"
          placeholder="Justificación"
          style="height: 100px"
          formControlName="rationale"
        ></textarea>
        <label for="AwardsRationale">Justificación *</label>
        <app-input-validation [element]="rationale"></app-input-validation>
      </div>
      <div class="form-text">
        Una breve descripción de las razones por las cuales se justifica la
        elección del proveedor o contratista. Detalles adicionales pueden
        proveerse en los documentos adjuntos.
      </div>
    </div>
    <div class="row">
      <div class="form-floating col-md-4 mb-2">
        <input
          type="date"
          class="form-control"
          id="AwardsDate"
          placeholder="Fecha de la adjudicación"
          formControlName="date"
        />
        <label for="AwardsDate">Fecha de la adjudicación *</label>
        <app-input-validation [element]="date"></app-input-validation>
      </div>
      <div class="form-text">
        La fecha de la adjudicación del contrato. Usualmente es la fecha en que
        se tomó la decisión de adjudicar.
      </div>
    </div>
    <!-- fieldset value -->
    <fieldset class="border p-3 mb-3" formGroupName="value">
      <legend class="w-auto px-2">Valor</legend>
      <div class="row">
        <div class="col">
          <p>
            El valor o monto total de esta adjudicación constituye la
            retribución al proveedor y se liquida según lo pactado mediante la
            adjudicación de su oferta y la prestación correctamente ejecutada.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 mb-2">
          <div class="form-floating form-group">
            <input
              type="number"
              class="form-control"
              id="AwardsValueAmount"
              placeholder="Monto total de la adjudicación *"
              formControlName="amount"
            />
            <label for="AwardsValueAmount">Monto como una cifra *</label>
            <app-input-validation [element]="amount"></app-input-validation>
          </div>
        </div>
        <div class="col-md-6 mb-2">
          <div class="form-floating form-group">
            <select
              class="form-select"
              id="AwardsValueCurrency"
              formControlName="currency"
            >
              <option value="" selected>
                -- Seleccione el tipo de moneda --
              </option>
              <option *ngFor="let m of data_currency" value="{{ m.code }}">
                {{ m.title }}
              </option>
            </select>
            <label for="AwardsValueCurrency">Moneda *</label>
            <app-input-validation [element]="currency"></app-input-validation>
          </div>
          <div class="form-text">
            La moneda del monto, de la lista de código cerrada
            <a
              href="https://standard.open-contracting.org/1.1/es/schema/codelists/#currency"
              >'Moneda'</a
            >
          </div>
        </div>
      </div>
    </fieldset>
    <!-- End fieldset value -->

    <!-- fieldset contracts period -->
    <fieldset class="border p-3 mb-2">
      <legend class="w-auto px-2">Periodo del contrato</legend>
      <div class="row mb-3">
        <div class="col">
          <p>El periodo por el cual se ha adjudicado el contrato.</p>
        </div>
      </div>
      <div formGroupName="contractPeriod">
        <!-- Primera fila -->
        <div class="row mb-4">
          <div class="col-md-6 mb-2">
            <div class="form-floating form-group">
              <input
                type="date"
                class="form-control"
                id="ContractPeriodStartDate"
                placeholder="Fecha de inicio del contrato"
                formControlName="startDate"
              />
              <label for="ContractPeriodStartDate">Fecha de inicio *</label>
              <app-input-validation
                [element]="startDate"
              ></app-input-validation>
            </div>
            <div class="form-text">
              La fecha de inicio del período. Cuando se sabe, se debe dar una
              fecha de inicio precisa.
            </div>
          </div>

          <div class="col-md-6 mb-2">
            <div class="form-floating form-group">
              <input
                type="date"
                class="form-control"
                id="ContractPeriodendDate"
                placeholder="Fecha de la adjudicación"
                formControlName="endDate"
              />
              <label for="ContractPeriodendDate">Fecha de término *</label>
              <app-input-validation [element]="endDate"></app-input-validation>
            </div>
            <div class="form-text">
              La fecha de conclusión del período. Cuando se sabe, se debe dar
              una fecha de conclusión precisa.
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 mb-2">
            <div class="form-floating form-group">
              <input
                type="date"
                class="form-control"
                id="ContractPeriodMaxExtentDate"
                placeholder="Fecha de la adjudicación"
                formControlName="maxExtentDate"
              />
              <label for="ContractPeriodMaxExtentDate">Extensión máxima *</label>
              <app-input-validation
                [element]="maxExtentDate"
              ></app-input-validation>
            </div>
            <div class="form-text">
              El período no puede extenderse después de esta fecha. Este campo
              debe usarse para expresar la fecha máxima disponible para la
              extensión o renovación de este período.
            </div>
          </div>

          <div class="col-md-6 mb-2">
            <div class="form-floating form-group">
              <input
                type="number"
                class="form-control"
                id="ContractPeriodDurationInDays"
                placeholder="Duración en dias"
                formControlName="durationInDays"
              />
              <label for="ContractPeriodDurationInDays">Duración (días) *</label>
              <app-input-validation
                [element]="durationInDays"
              ></app-input-validation>
            </div>
            <div class="form-text">
              El nivel máximo de duración de este período en días.
            </div>
          </div>
        </div>
      </div>
    </fieldset>
    <!-- End fieldset contracts period -->
    <div class="row m-10">
      <div class="col">
        <button
          type="button"
          class="btn btn-danger btn-add"
          (click)="saveForm()"
          [disabled]="!generalForm.valid"
        >
          Guardar sección
        </button>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-12 spin">
        <div *ngIf="mostrarSpinner" class="spinner-container">
          <div class="spinner-border" role="status">
            <span class="visually-hidden">Guardando...</span>
          </div>
          <p class="mt-2">Guardando...</p>
        </div>
      </div>
    </div>
  </form>
</div>
