<div class="container"></div>
  <div class="row">
    <div class="col">
      <h3>Artículos</h3>
      <hr />
    </div>
  </div>

<form [formGroup]="itemsForm">
  <div class="row">
    <small>
      Los bienes y servicios adjudicados en esta adjudicación,
      desglosados en tipos de artículos de una clasificación
      preexistente cuando sea posible. Los artículos no deberían
      de estar duplicados, sino se debe especificar la cantidad.
    </small>
  </div>
  <div class="row">
    <div class="form-floating col-md-4 mb-5">
      <input class="form-control" id="AwardsItemsId" type="text" placeholder="Id del Artículo"
        formControlName="id" />
      <label for="AwardsItemsId">Indentificador del artículo</label>
    </div>
    <div class="form-floating col-md-4 mb-5">
      <input class="form-control" id="AwardsItemsDescription" type="text"
        placeholder="Descripción del Artículo" formControlName="description" />
      <label for="AwardsItemsDescription">Descripción del articulo</label>
    </div>
    <div class="form-floating col-md-4 mb-5">
      <input class="form-control" id="AwardsItemsQuantity" type="number"
        placeholder="Cantidad de unidades" formControlName="quantity" />
      <label for="AwardsItemsQuantity">Cantidad de unidades</label>
    </div>
  </div>
  <div formGroupName="unit">
    <fieldset class="border p-3 mb-3">
      <legend class="w-auto px-2">Unidad</legend>
      <div class="row mb-5">
        <small>Una descripción de la unidad en la cual los
          suministros, servicios o trabajos están provistos (ej.
          horas, kilos) y el precio por unidad.</small>
      </div>
      <div class="row">
        <div class="form-floating col-md-6 mb-5">
          <input class="form-control" id="ItemsUnitId" type="text"
            placeholder="Identificador de la unidad" formControlName="id" />
          <label for="ItemsUnitId">Identificador de la unidad de medida</label>
        </div>
        <div class="form-floating cell col-md-6 mb-5">
          <select class="form-select" id="ItemsUnitScheme" aria-label="scheme" formControlName="scheme">
            <option value="" selected>
              -- Seleccione una opción --
            </option>
            <!-- <option value="UNCEFACT">
                UN/CEFACT Recommendation 20
              </option> -->
            <option value="UNCEFACT">
              Recomendación 20 de la UN/CEFACT
            </option>
            <option value="QUDT">
              Ontologías de Cantidades, Unidades, Dimensiones y
              Tipos de Datos
            </option>
          </select>
          <label for="ItemsUnitScheme">Esquema de unidades de medida</label>
        </div>
      </div>
      <div class="row">
        <div class="form-floating col-md-6 mb-5">
          <input class="form-control" id="ItemesUnitName" type="text"
            placeholder="Nombre de la unidad de medida" formControlName="name" />
          <label for="description">Unidad de medida</label>
        </div>
        <div class="form-floating col-md-6 mb-5">
          <input class="form-control" id="uri" type="text"
            placeholder="URI de la unidad de medida, dada por el esquema" formControlName="uri" />
          <label for="uri">URI</label>
        </div>
      </div>
    </fieldset>
    <fieldset class="border p-3 mb-3" formGroupName="value">
      <legend class="w-auto px-2">Valor</legend>
      <div class="row">
        <div class="form-floating form-group col-md-6 mb-5">
          <input type="number" class="form-control" id="UnitValueAmount"
            placeholder="Monto total de la adjudicación *" formControlName="amount" />
          <label for="UnitValueAmount">Monto *</label>
        </div>
        <div class="form-floating form-group col-md-6 mb-5">
          <select class="form-select" id="UnitValueCurrency" formControlName="currency">
            <option value="" selected>
              -- Seleccione el tipo de moneda --
            </option>
            <option *ngFor="let m of currency" value="{{ m.code }}">
              {{ m.title }}
            </option>
          </select>
          <label for="currency">Moneda</label>
        </div>
      </div>
    </fieldset>
  </div>
  <fieldset class="border p-3 mb-3" formGroupName="classification">
    <legend class="w-auto px-2">Clasificación</legend>
    <div class="row">
      <div class="form-floating col-md-6 mb-5">
        <input class="form-control" id="ItemsClassificationID" type="text"
          placeholder="Identificador de la Clasificación" formControlName="id" />
        <label for="ItemsClassificationID">Código de la clasificación</label>
      </div>
      <div class="form-floating form-group col-md-6 mb-5">
        <select class="form-select" id="ItemsClassificationScheme" aria-label="scheme"
          formControlName="scheme">
          <option value="" selected>
            -- Seleccione una opción --
          </option>
          <!-- <option value="CPC">
              Central Product Classification
            </option> -->
          <option value="CUCOP">
            Clasificador Único Mexicano de Contrataciones Públicas
            (CUCOP)
          </option>
          <!-- <option value="CPV">
              EC Common Procurement Vocabulary
            </option> -->
          <!-- <option value="CPVS">
              EC Common Procurement Vocabulary - Listas de Códigos
              Suplementarias
            </option>
            <option value="GSIN">
              Goods and Services Identification Number
            </option>
            <option value="OKDP">
              Russian National Classification of Products by
              Economic Activity (1994)
            </option>
            <option value="OKPD">
              Russian National Classification of Products by
              Economic Activity (2014)
            </option>
            <option value="UNSPSC">
              United Nations Standard Products and Services Code
            </option> -->
        </select>
        <label for="ItemsClassificationScheme">Esquema</label>
      </div>
    </div>
    <div class="row">
      <div class="form-floating col-md-6 mb-5">
        <input class="form-control" id="ItemsClassificationDescription" type="text"
          placeholder="Descripción del Artículo" formControlName="description" />
        <label for="ItemsClassificationDescription">Descripción</label>
      </div>
      <div class="form-floating col-md-6 mb-5">
        <input class="form-control" id="ItemsClassificationUri" type="text"
          placeholder="URI de la clasificación" formControlName="uri" />
        <label for="ItemsClassificationUri">URI</label>
      </div>
    </div>
  </fieldset>
  <fieldset class="border p-3 mb-3" formGroupName="additionalClassifications">
    <legend class="w-auto px-2">
      Clasificaciones Adicionales
    </legend>
    <div class="row">
      <div class="form-floating col-md-6 mb-5">
        <input class="form-control" id="additionalClassificationsID" type="text"
          placeholder="Identificador de la Clasificación" formControlName="id" />
        <label for="AdditionalClassificationsID">Código de la clasificación adicional</label>
      </div>
      <div class="form-floating form-group col-md-6 mb-5">
        <select class="form-select" id="AdditionalClassificationsScheme" aria-label="scheme"
          formControlName="scheme">
          <option value="" selected>
            -- Seleccione una opción --
          </option>
          <!-- <option value="CPC">
              Central Product Classification
            </option> -->
          <option value="CUCOP">
            Clasificador Único Mexicano de Contrataciones Públicas
            (CUCOP)
          </option>
          <!-- <option value="CPV">
              EC Common Procurement Vocabulary
            </option>
            <option value="CPVS">
              EC Common Procurement Vocabulary - Listas de Códigos
              Suplementarias
            </option>
            <option value="GSIN">
              Goods and Services Identification Number
            </option>
            <option value="OKDP">
              Russian National Classification of Products by
              Economic Activity (1994)
            </option>
            <option value="OKPD">
              Russian National Classification of Products by
              Economic Activity (2014)
            </option>
            <option value="UNSPSC">
              United Nations Standard Products and Services Code
            </option> -->
        </select>
        <label for="AdditionalClassificationsScheme">Esquema</label>
      </div>
    </div>
    <div class="row">
      <div class="form-floating col-md-6 mb-5">
        <input class="form-control" id="AdditionalClassificationsDescription" type="text"
          placeholder="Descripción del Artículo" formControlName="description" />
        <label for="AdditionalClassificationsDescription">Descripción</label>
      </div>
      <div class="form-floating col-md-6 mb-5">
        <input class="form-control" id="AdditionalClassificationsDescriptionUri" type="text"
          placeholder="URI de la clasificación" formControlName="uri" />
        <label for="AdditionalClassificationsDescriptionUri">URI</label>
      </div>
    </div>
  </fieldset>
  <div class="row">
    <div class="col-md-6 form-group d-flex justify-content-between">
      <input type="submit" value="guardar" class="btn btn-primary rounded-0 py-2 px-4" />
      <span class="Guardar"></span>
    </div>
  </div>
</form>
