<div class="container">
  <div class="row">
    <div class="col">
      <h3>Juntas de aclaraciones</h3>
      <hr />
      <p>
        Es la etapa en la que los participantes pueden clarificar, modificar,
        precisar o suprimir los requisitos de las bases del concurso. Al
        concluir el evento de la Junta de Aclaraciones se debe elabora el Acta
        de Junta de Aclaraciones en la cual se hace constar la(s) respuesta(s) a
        las solicitudes de aclaración presentadas en tiempo y forma por los
        licitadores, así como las aclaraciones solicitadas a las respuestas
        dadas por la convocante sobre aspectos de la convocatoria a la
        licitación.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="table-responsive-sm">
        <table class="table table-hover table-striped mb-10">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Fecha</th>
              <th scope="col">Asistentes</th>
              <th scope="col">Servidores Publicos</th>
              <th scope="col">Opciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let meeting of clarificationMeetingsArray; index as i">
              <th scope="row">{{ meeting.id || i + 1 }}</th>
              <td>{{ meeting.date }}</td>
              <td>
                <ul>
                  <li *ngFor="let assist of meeting.attendees">
                    {{ assist.name }}
                  </li>
                </ul>
              </td>
              <td>
                <ul>
                  <li *ngFor="let official of meeting.officials">
                    {{ official.name }}
                  </li>
                </ul>
              </td>
              <td>
                <button
                  type="button"
                  class="btn btn-danger btn-delete"
                  (click)="deleteClarificationMeeting.emit(i)"
                >
                  Eliminar
                </button>
              </td>
            </tr>
            <tr *ngIf="clarificationMeetingsArray.length === 0">
              <th scope="row" colspan="5" class="text-center">
                Sin registros.
              </th>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <hr />
  <form [formGroup]="meetingForm">
    <div class="row">
      <div class="form-floating col-6 mb-5">
        <input
          class="form-control"
          id="amount"
          type="date"
          data-sb-validations="required"
          placeholder="ID de Organización*"
          formControlName="date"
        />
        <label for="amount">Fecha de inicio*</label>
        <div class="invalid-feedback" data-sb-feedback="title:required">
          Fecha de inicio * es requerido.
        </div>
      </div>
    </div>
    <fieldset class="border p-3 mb-3">
      <legend class="w-auto px-1">Asistentes</legend>
      <div class="row">
        <div class="form-floating col-10 mb-5" [formGroup]="attendeesForm">
          <select class="form-select" formControlName="id">
            <option
              *ngIf="attendees.length === 0"
              [disabled]="attendees.length === 0"
            >
              No hay registros de Actores para este proceso de contratación.
            </option>
            <option *ngFor="let c of attendees" [ngValue]="c">
              asistente {{ c?.name }}
            </option>
          </select>
        </div>
        <div class="col-2">
          <button
            type="button"
            class="btn btn-danger btn-add"
            (click)="addAttendess()"
          >
            Agregar
          </button>
        </div>
      </div>
      <div class="row">
        <div class="table-responsive">
          <table class="table table-hover table-striped mb-10">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">Opciones</th>
              </tr>
            </thead>
            <tbody>
              <tr
                class=""
                *ngFor="let assists of meetingForm.value.attendees; index as i"
              >
                <td scope="row">{{ assists.id }}</td>
                <td>{{ assists.name }}</td>
                <td>
                  <button
                    type="button"
                    class="btn btn-danger btn-delete"
                    (click)="deleteAttendess(i)"
                  >
                    Eliminar
                  </button>
                </td>
              </tr>
              <tr *ngIf="meetingForm.value.attendees.length === 0">
                <th scope="row" colspan="3" class="text-center">
                  Sin registros.
                </th>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </fieldset>

    <fieldset class="border p-3 mb-3">
      <legend class="w-auto px-1">Servidores publicos</legend>
      <div class="row">
        <div class="form-floating col-10 mb-5" [formGroup]="officialsForm">
          <select class="form-select" formControlName="id">
            <option
              *ngIf="officials.length === 0"
              [disabled]="officials.length === 0"
            >
              No hay registros de Actores para este proceso de contratación.
            </option>
            <option *ngFor="let c of officials" [ngValue]="c">
              servidor publico {{ c?.name }}
            </option>
          </select>
        </div>
        <div class="col-2">
          <button
            type="button"
            class="btn btn-danger btn-add"
            (click)="addOfficials()"
          >
            Agregar
          </button>
        </div>
      </div>
      <div class="row">
        <div class="table-responsive">
          <table class="table table-hover table-striped mb-10">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">Opciones</th>
              </tr>
            </thead>
            <tbody>
              <tr
                class=""
                *ngFor="let assists of meetingForm.value.officials; index as i"
              >
                <td scope="row">{{ assists.id }}</td>
                <td>{{ assists.name }}</td>
                <td>
                  <button
                    type="button"
                    class="btn btn-danger btn-delete"
                    (click)="deleteOfficials(i)"
                  >
                    Eliminar
                  </button>
                </td>
              </tr>
              <tr *ngIf="meetingForm.value.officials.length === 0">
                <th scope="row" colspan="3" class="text-center">
                  Sin registros.
                </th>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </fieldset>
    <div class="row">
      <div class="col">
        <button
          type="button"
          class="btn btn-danger btn-add"
          (click)="addNewClarificationMeeting()"
        >
          Agregar junta de aclaración
        </button>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-12 spin">
        <div *ngIf="mostrarSpinner" class="spinner-container">
          <div class="spinner-border" role="status">
            <span class="visually-hidden">Guardando...</span>
          </div>
          <p class="mt-2">Guardando...</p>
        </div>
      </div>
    </div>
  </form>
</div>
