<div class="container">
  <div class="row">
    <div class="col">
      <h3>Hitos</h3>
      <hr />
    </div>
  </div>

  <fieldset class="border p-3 mb-3">
    
    <div class="row mb-3">
      <div class="form-floating col-md-6">
        <input
          type="text"
          class="form-control"
          id="MilestonesId"
          placeholder="Identificador del hito"
        />
        <label for="MilestonesId">Identificador del hito</label>
      </div>
      <div class="form-floating col-md-6">
        <input
          type="text"
          class="form-control"
          id="MilestonesTitle"
          placeholder="Títutlo del hito"
        />
        <label for="MilestonesTitle">Títutlo del hito</label>
      </div>
    </div>
    <div class="row mb-3">
      <div class="form-floating col-md-12">
        <textarea
          class="form-control"
          id="MilestonesDescription"
          type="text"
          placeholder="Descripción del hito"
          data-sb-validations=""
        ></textarea>
        <label for="MilestonesDescription"
          >Descripción del hito</label
        >
      </div>
    </div>
    <div class="row mb-3">
      <div class="form-floating col-md-4">
        <input
          type="text"
          class="form-control"
          id="MilestonesType"
          placeholder="Tipo de hito"
        />
        <label for="MilestonesType">Tipo de hito</label>
      </div>
      <div class="form-floating col-md-4">
        <input
          type="text"
          class="form-control"
          id="MilestonesCode"
          placeholder="Código del hito"
        />
        <label for="MilestonesCode">Código del hito</label>
      </div>
      <div class="form-floating col-md-4">
        <input
          type="text"
          class="form-control"
          id="MilestonesStatus"
          placeholder="Estado del hito"
        />
        <label for="MilestonesStatus">Estado del hito</label>
      </div>
    </div>
    <div class="row mb-3">
      <div class="form-floating col-md-4 mb-5">
        <input
          type="date"
          class="form-control"
          id="MilestonesDueDate"
          placeholder="Fecha de vencimiento"
        />
        <label for="MilestonesDueDate">Fecha de vencimiento</label>
      </div>
      <div class="form-floating col-md-4 mb-5">
        <input
          type="date"
          class="form-control"
          id="MilestonesDateMet"
          placeholder="Fecha de cumplimiento"
        />
        <label for="MilestonesDateMet">Fecha de cumplimiento</label>
      </div>
      <div class="form-floating col-md-4 mb-5">
        <input
          type="date"
          class="form-control"
          id="MilestonesDateModified"
          placeholder="Fecha de modificación"
        />
        <label for="MilestonesDateModified"
          >Fecha de modificación</label
        >
      </div>
    </div>
    <div class="row mb-3">
      <div
        class="col-md-6 form-group d-flex justify-content-between"
      >
        <input
          type="submit"
          value="Guardar"
          class="btn btn-primary rounded-0 py-2 px-4"
        />
        <span class="Guardar"></span>
        <input
          type="submit"
          value="Eliminar"
          class="btn btn-danger rounded-0 py-2 px-4"
        />
        <span class="Guardar"></span>
      </div>
    </div>
  </fieldset>

</div>