<fieldset class="border p-3 mb-3">
  <legend class="w-auto px-1">Desglose presupuestario</legend>
  <p>
    Un desglose detallado del presupuesto por período y/o financiadores
    participantes.
  </p>
  <hr />
  <div class="row">
    <table class="table table-hover table-striped mb-10">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Descripción</th>
          <th scope="col">Información Presupuestaria vinculada</th>
          <th scope="col">Fecha de inicio</th>
          <th scope="col">Fecha de término</th>
          <th scope="col">Extensión máxima</th>
          <th scope="col">Duración (días)</th>
          <th scope="col">Nombre del actor</th>
          <th scope="col">Monto</th>
          <th scope="col">Opciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let doc of budgetBreakdownArray; index as i">
          <th scope="row">{{ doc.id || i + 1 }}</th>
          <td>{{ doc.description }}</td>
          <td>{{ doc.uri }}</td>
          <td>{{ doc.period.startDate }}</td>
          <td>{{ doc.period.endDate }}</td>
          <td>{{ doc.period.maxExtentDate }}</td>
          <td>{{ doc.period.durationInDays }}</td>
          <td>{{ doc.sourceParty.name }}</td>
          <td>{{ doc.amount.amount }}</td>
          <td>
            <button
              type="button"
              class="btn btn-danger btn-delete"
              (click)="confirmAndDeleteBudgetBreakdown.emit(i)"
            >
              Eliminar
            </button>
          </td>
        </tr>
        <tr *ngIf="budgetBreakdownArray.length === 0">
          <th scope="row" colspan="10" class="text-center">Sin registros.</th>
        </tr>
      </tbody>
    </table>
  </div>
  <form [formGroup]="budgetBreakdownForm">
    <div class="row">
      <div class="col-md-12 form-floating mb-2">
        <input
          type="text"
          class="form-control"
          id="description"
          placeholder="Description"
          formControlName="description"
        />
        <label for="description">Descripción del desglose</label>
        <!-- <app-input-validation [element]="description"></app-input-validation> -->
      </div>
      <div class="form-text">
        Una breve descripción de texto libre de esta entrada de presupuesto.
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 form-floating mb-2">
        <input
          type="text"
          class="form-control"
          id="BudgetBreakdownUri"
          placeholder="URI"
          formControlName="uri"
        />
        <label for="BudgetBreakdownUri"
          >URI de información vinculada de presupuesto</label
        >
        <!-- <app-input-validation [element]="uri"></app-input-validation> -->
      </div>
      <div class="form-text">
        Un URI que apunta directamente a una información legible por máquinas
        sobre esta entrada de presupuesto.
      </div>
    </div>

    <div class="row">
      <div class="form-floating col mb-2">
        <select
          name="sourceParty"
          class="form-select"
          formControlName="sourceParty"
        >
          <option *ngFor="let c of sourceParty" [ngValue]="c">
            {{ c?.legalName || c?.name }} - ({{
              getPartiesListTitle(c?.roles || [])
            }})
          </option>
        </select>
        <label for="sourceParty"> Actor fuente</label>
      </div>
      <div class="form-text">
        La organización u otro actor relacionado con esta entrada de
        presupuesto.
      </div>
    </div>

    <fieldset class="border p-3 mb-3">
      <legend class="w-auto px-1">Valor del desglose</legend>
      <p>
        Suficiencia Presupuestal autorizada para la Contratación Pública. Este
        dato se toma de la Orden de servicio donde se solicita la autorización
        de la Suficiencia Presupuestal para el proyecto.
      </p>
      <div class="col-12" formGroupName="amount">
        <div class="row">
          <div class="col-md-6 mb-2">
            <div class="form-floating">
              <input
                class="form-control"
                id="amount"
                type="text"
                data-sb-validations="required"
                placeholder="Monto*"
                formControlName="amount"
              />
              <label for="amount">Monto</label>
            </div>
            <div class="form-text">Monto como una cifra</div>
          </div>

          <div class="col-md-6 mb-2">
            <div class="form-floating">
              <select
                class="form-select"
                id="currency"
                formControlName="currency"
              >
                <option *ngFor="let d of currency" [ngValue]="d.code">
                  {{ d.title }}
                </option>
              </select>
              <label for="currency">Moneda</label>
            </div>
            <div class="form-text">
              La moneda del monto, de la lista de código cerrada
              <a
                href="https://standard.open-contracting.org/1.1/es/schema/codelists/#currency"
                >'Moneda'</a
              >
            </div>
          </div>
        </div>
      </div>
    </fieldset>

    <fieldset class="border p-3 mb-3" formGroupName="period">
      <legend class="w-auto px-1">Periodo del desglose</legend>
      <p>
        Periodo de vigencia del presupuesto aprobado, este dato puede tormarse
        de la Orden de servicio donde se solicita la autorización de la
        Suficiencia Presupuestal para el proyecto.
      </p>
      <div class="row">
        <div class="col-md-6 mb-3">
          <div class="form-floating">
            <input
              class="form-control"
              id="startDate"
              type="date"
              data-sb-validations="required"
              formControlName="startDate"
              placeholder="dd-mm-yyyy"
            />
            <label for="startDate">Fecha de inicial del periodo del desglose</label>
            <!-- <app-input-validation
              [element]="getControl('startDate')"
            ></app-input-validation> -->
          </div>
          <div class="form-text">
            Fecha de inicio del periodo. Cuando se conozca, debe proporcionarse
            una fecha precisa de inicio.
          </div>
        </div>

        <div class="col-md-6 mb-3">
          <div class="form-floating">
            <input
              class="form-control"
              id="endDate"
              type="date"
              data-sb-validations="required"
              formControlName="endDate"
            />
            <label for="endDate">Fecha final del periodo del desglose</label>
            <app-input-validation
              [element]="getControl('endDate')"
            ></app-input-validation>
          </div>
          <div class="form-text">
            Fecha de término del periodo. Cuando se conozca, debe proporcionarse
            una fecha precisa de término.
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 mb-3">
          <div class="form-floating">
            <input
              class="form-control"
              id="maxExtentDate"
              type="date"
              data-sb-validations="required"
              formControlName="maxExtentDate"
            />
            <label for="maxExtentDate">Extensión máxima</label>
            <app-input-validation
              [element]="getControl('maxExtentDate')"
            ></app-input-validation>
          </div>
          <div class="form-text">
            El periodo no puede extenderse más allá de esta fecha. Este campo es
            opcional y puede usarse para expresar la fecha límite de extensión o
            renovación de este período.
          </div>
        </div>

        <div class="col-md-6 mb-3">
          <div class="form-floating">
            <input
              class="form-control"
              id="durationInDays"
              type="number"
              data-sb-validations="required"
              placeholder="Duración (días)*"
              formControlName="durationInDays"
            />
            <label for="durationInDays">Duración (días)</label>
            <!-- <app-input-validation
              [element]="getControl('durationInDays')"
            ></app-input-validation> -->
          </div>
          <div class="form-text">
            La duración máxima de este período en días.
          </div>
        </div>
      </div>
    </fieldset>

    <fieldset class="border p-3 mb-3">
      <legend class="w-auto px-1">Líneas presupuestarias o partidas presupuestarias</legend>
      <p>Una lista de las líneas presupuestarias de este actor fuente.</p>
      <div class="row">
        <div class="col-12">
          <div class="table-responsive-sm">
            <table class="table table-hover table-striped mb-10">
              <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Origen</th>
                  <th scope="col">Componentes</th>
                  <th scope="col">Opciones</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="
                    let doc of budgetBreakdownForm.value.budgetLines;
                    index as i
                  "
                >
                  <th scope="row">{{ doc.id }}</th>
                  <td>{{ doc.origin }}</td>
                  <td>{{ doc.components | json }}</td>
                  <td>
                    <button
                      type="button"
                      class="btn btn-danger btn-delete"
                      (click)="confirmAndDeleteBudgetLines(i)"
                    >
                      Eliminar
                    </button>
                  </td>
                </tr>
                <tr *ngIf="budgetBreakdownForm.value.budgetLines.length === 0">
                  <th scope="row" colspan="4" class="text-center">
                    Sin registros.
                  </th>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <form [formGroup]="budgetLinesForm">
        <div class="row">
          <div class="col-md-6 form-floating mb-3">
            <input
              type="text"
              class="form-control"
              id="BudgetLinesId"
              placeholder="ID"
              formControlName="id"
              readonly
            />
            <label for="BudgetLinesId">Identificador de las partidas presupuestarias</label>
            <!-- <app-input-validation [element]="id"></app-input-validation> -->
          </div>
          <div class="col-md-6 form-floating mb-3">
            <input
              type="text"
              class="form-control"
              id="BudgetLinesOrigin"
              placeholder="Origin"
              formControlName="origin"
            />
            <label for="BudgetLinesOrigin">Origen de las partidas</label>
            <!-- <app-input-validation [element]="origin"></app-input-validation> -->
          </div>
        </div>
      </form>
      <fieldset class="border p-3 mb-3">
        <legend class="w-auto px-1">Componentes de las partidas</legend>
        <p>
          Una lista de los componentes que constituyen el identificador para
          esta línea presupuestaria.
        </p>
        <div class="row">
          <div class="col-12">
            <div class="table-responsive-sm">
              <table class="table table-hover table-striped mb-10">
                <thead>
                  <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Nivel</th>
                    <th scope="col">Código</th>
                    <th scope="col">Opciones</th>
                  </tr>
                  <tr [formGroup]="componentsForm">
                    <th scope="col">
                      <input
                        type="text"
                        class="form-control"
                        id="BudgetComponentsName"
                        placeholder="Nombre del componente"
                        formControlName="name"
                      />
                      <!-- <app-input-validation
                        [element]="name"
                      ></app-input-validation> -->
                    </th>
                    <th scope="col">
                      <input
                        type="text"
                        class="form-control"
                        id="description"
                        placeholder="Descripción del componente"
                        formControlName="description"
                      />
                      <!-- <app-input-validation
                        [element]="comp_description"
                      ></app-input-validation> -->
                    </th>
                    <th scope="col">
                      <input
                        type="text"
                        class="form-control"
                        id="level"
                        placeholder="Nivel del componente"
                        formControlName="level"
                      />
                      <!-- <app-input-validation
                        [element]="level"
                      ></app-input-validation> -->
                    </th>
                    <th scope="col">
                      <input
                        type="text"
                        class="form-control"
                        id="BudgetComponentsCode"
                        placeholder="Código del componente"
                        formControlName="code"
                      />
                      <!-- <app-input-validation
                        [element]="code"
                      ></app-input-validation> -->
                    </th>
                    <th scope="col">
                      <button
                        type="button"
                        class="btn btn-danger btn-add"
                        (click)="addComponent()"
                      >
                        Agregar
                      </button>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    *ngFor="
                      let doc of budgetLinesForm.value.components;
                      index as i
                    "
                  >
                    <td>{{ doc.name }}</td>
                    <td>{{ doc.description }}</td>
                    <td>{{ doc.level }}</td>
                    <td>{{ doc.code }}</td>
                    <td>
                      <button
                        type="button"
                        class="btn btn-danger btn-delete"
                        (click)="deleteComponent(i)"
                      >
                        Eliminar
                      </button>
                    </td>
                  </tr>
                  <tr *ngIf="budgetLinesForm.value.components.length === 0">
                    <th scope="row" colspan="5" class="text-center">
                      Sin registros.
                    </th>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </fieldset>

      <div class="row">
        <div class="form-floating col mb-0">
          <button
            type="button"
            class="btn btn-danger btn-add"
            (click)="addBudgetLines()"
          >
            Agregar linea presupuestaria
          </button>
        </div>
      </div>
    </fieldset>

    <!-- fin -->

    <div class="row">
      <div class="form-floating col mb-0">
        <button
          type="button"
          class="btn btn-danger btn-add"
          (click)="addNewBudgetBreakdown()"
          [disabled]="!budgetBreakdownForm.valid"
        >
          Agregar desglose
        </button>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-12 spin">
        <div *ngIf="mostrarSpinner" class="spinner-container">
          <div class="spinner-border" role="status">
            <span class="visually-hidden">Guardando...</span>
          </div>
          <p class="mt-2">Guardando...</p>
        </div>
      </div>
    </div>
  </form>
</fieldset>
