<div class="container">
  <div class="row">
    <div class="col">
      <h3>Documentos</h3>
      <hr />
    </div>
  </div>
  </div>

  <fieldset class="border p-3 mb-3">
    <div class="row mb-3">
      <div class="form-floating col-md-4 mb-5">
        <select
          class="form-select"
          id="ImplementationDocumentType"
          aria-label="scheme"
        >
          <option value="default">Seleccione una opción</option>
          <option value="completionCertificate">
            Certificado de terminación
          </option>
          <option value="physicalProgressReport">
            Reportes de progreso físico
          </option>
          <option value="financialProgressReport">
            Reportes de progreso financiero
          </option>
          <option value="finalAudit">Auditoría final</option>
          <option value="environmentalImpact">
            Impacto medioambiental
          </option>
          <option value="conflictOfInterest">
            Conflicto de interés
          </option>
          <option value="illustration">Ilustraciones</option>
          <option value="debarments">Inhabilitaciones</option>
          <option value="cancellationDetails">
            Detalles de cancelación
          </option>
        </select>
        <label for="documentType">Tipo de Documento</label>
      </div>
    </div>
  </fieldset>