<div class="container">
  <div class="row">
    <div class="col">
      <h3>Modificaciones</h3>
      <hr />
      <p>
        Es un cambio de alguna de las condiciones del contrato. Las dependencias
        y entidades con la aceptación del proveedor podrán realizar
        modificaciones a los contratos o pedidos por monto, plazo o vigencia.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="table-responsive-sm">
        <table class="table table-hover table-striped mb-10">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Fecha</th>
              <th scope="col">Justificación</th>
              <th scope="col">Descripción</th>
              <th scope="col">Liberación modificada (identificador)</th>
              <th scope="col">Difusión de la modificación (identificador)</th>

              <th scope="col">Opciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let doc of amendmentsArray; index as i">
              <th scope="row">{{ doc.id || i + 1 }}</th>
              <td>{{ doc.date }}</td>
              <td>{{ doc.rationale }}</td>
              <td>{{ doc.description }}</td>
              <td>{{ doc.amendsReleaseID }}</td>
              <td>{{ doc.releaseID }}</td>

              <td>
                <button
                  type="button"
                  class="btn btn-danger btn-delete"
                  (click)="confirmAndDeleteAmendment(i)"
                >
                  Eliminar
                </button>
              </td>
            </tr>
            <tr *ngIf="amendmentsArray.length === 0">
              <th scope="row" colspan="7" class="text-center">
                Sin registros.
              </th>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <hr />
  <form [formGroup]="amendmentsForm">
    <div class="row">
      <div class="form-floating col-6 mb-3">
        <input
          class="form-control"
          id="date"
          type="date"
                    formControlName="date"
        />
        <label for="datePublished">Fecha de modificación *</label>
        <app-input-validation [element]="date"></app-input-validation>
        <div class="form-text">La fecha de esta modificación.</div>
      </div>
    </div>

    <div class="row">
      <div class="form-floating col-12 mb-3">
        <textarea
          class="form-control"
          id="Justificación"
          type="text"
          placeholder="Justificación*"
          style="height: 100px"
          formControlName="rationale"
        ></textarea>
        <label for="rationale">Justificación *</label>
        <app-input-validation [element]="rationale"></app-input-validation>
        <div class="form-text">
          Razones por las cuales se realiza la modificación.
        </div>
      </div>
    </div>

    <div class="row">
      <div class="form-floating col-12 mb-3">
        <textarea
          class="form-control"
          id="description"
          type="text"
          placeholder="Descripción*"
          style="height: 100px"
          formControlName="description"
        ></textarea>
        <label for="description">Descripción *</label>
        <app-input-validation [element]="description"></app-input-validation>
        <div class="form-text">
          Una descripción en texto libre, o semi-estructurada, de los cambios
          realizados en esta modificación.
        </div>
      </div>
    </div>

    <div class="row">
      <div class="form-floating col mb-3">
        <input
          class="form-control"
          id="amendsReleaseID"
          type="text"
          data-sb-validations="required"
          placeholder="URL*"
          formControlName="amendsReleaseID"
        />
        <label for="URL">Liberación modificada (identificador)</label>
        <div class="invalid-feedback" data-sb-feedback="title:required">
          * es requerido.
        </div>
        <div class="form-text">
          Se refiere al identificador (release.id) de la liberación EDCA que
          provee los valores para este proceso de contratación ** antes ** de
          que la modificación fuese realizada.
        </div>
      </div>
    </div>

    <div class="row">
      <div class="form-floating col mb-3">
        <input
          class="form-control"
          id="releaseID"
          type="text"
          data-sb-validations="required"
          placeholder="URL*"
          formControlName="releaseID"
        />
        <label for="URL">Difusión de la modificación (identificador)</label>
        <div class="invalid-feedback" data-sb-feedback="title:required">
          * es requerido.
        </div>
        <div class="form-text">
          Se refiere al identificador (release.id) de la liberación EDCA que
          provee los valores para este procedimiento de contratación ** después
          ** de que la modificación fuese realizada.
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <button
          type="button"
          class="btn btn-danger btn-add"
          (click)="addNewAmendment()"
          [disabled]="!enableAddAmendmentButton()"
        >
          Agregar modificación
        </button>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-12 spin">
        <div *ngIf="mostrarSpinner" class="spinner-container">
          <div class="spinner-border" role="status">
            <span class="visually-hidden">Guardando...</span>
          </div>
          <p class="mt-2">Guardando...</p>
        </div>
      </div>
    </div>
  </form>
  <!-- fin container -->
</div>
