<div class="content">
  <div class="container">
    <div class="row align-items-stretch no-gutters menu-wrap">
      <div class="col-md-3 g-0">
        <div class="menu-info h-100">
          <div
            class="nav flex-column nav-pills"
            id="contracts-tab"
            role="tablist"
            aria-orientation="vertical"
          >
            <h3
              class="active text-left"
              id="contracts-presentacion-tab"
              data-bs-toggle="pill"
              data-bs-target="#contracts-presentacion"
              type="button"
              role="tab"
              aria-controls="contracts-presentacion"
              aria-selected="true"
            >
              &nbsp;&nbsp;4. Contrato
            </h3>
            <ng-container *ngIf="!mostrarBotones">
              <button
                class="nav-link text-left"
                id="contracts-implementation-tab"
                data-bs-toggle="pill"
                data-bs-target="#contracts-implementation"
                type="button"
                role="tab"
                aria-controls="contracts-implementation"
                aria-selected="false"
              >
                Ejecución
              </button>
              <button
                class="nav-link text-left"
                id="contracts-items-tab"
                data-bs-toggle="pill"
                data-bs-target="#contracts-items"
                type="button"
                role="tab"
                aria-controls="contracts-items"
                aria-selected="false"
              >
                Ítems del contrato
              </button>

              <button
                class="nav-link text-left"
                id="contracts-procesos-tab"
                data-bs-toggle="pill"
                data-bs-target="#contracts-procesos"
                type="button"
                role="tab"
                aria-controls="contracts-procesos"
                aria-selected="false"
              >
                Procesos relacionados
              </button>

              <button
                class="nav-link text-left"
                id="contracts-enmiendas-tab"
                data-bs-toggle="pill"
                data-bs-target="#contracts-enmiendas"
                type="button"
                role="tab"
                aria-controls="contracts-enmiendas"
                aria-selected="false"
              >
                Enmiendas
              </button>


              <button
                class="nav-link text-left"
                data-bs-toggle="pill"
                type="button"
                role="tab"
                aria-selected="false"
              >
              </button>

              <!-- ini -->
              <button
                class="nav-link text-left"
                id="contracts-general-tab"
                data-bs-toggle="pill"
                data-bs-target="#contracts-general"
                type="button"
                role="tab"
                aria-controls="contracts-general"
                aria-selected="false"
              >
                Datos generales del contrato
              </button>

              <button
                class="nav-link text-left"
                id="contracts-guarantees-tab"
                data-bs-toggle="pill"
                data-bs-target="#contracts-guarantees"
                type="button"
                role="tab"
                aria-controls="contracts-guarantees"
                aria-selected="false"
              >
                Garantías
              </button>

              <button
                class="nav-link text-left"
                id="contracts-documents-tab"
                data-bs-toggle="pill"
                data-bs-target="#contracts-documents"
                type="button"
                role="tab"
                aria-controls="contracts-documents"
                aria-selected="false"
              >
                Documentos
              </button>

              <button
                class="nav-link text-left"
                id="contracts-milestones-tab"
                data-bs-toggle="pill"
                data-bs-target="#contracts-milestones"
                type="button"
                role="tab"
                aria-controls="contracts-milestones"
                aria-selected="false"
              >
                Hitos
              </button>

              <button
                class="nav-link text-left"
                id="contracts-amendments-tab"
                data-bs-toggle="pill"
                data-bs-target="#contracts-amendments"
                type="button"
                role="tab"
                aria-controls="contracts-amendments"
                aria-selected="false"
              >
                Modificaciones
              </button>
              <!-- <button
                class="nav-link btn btn-danger btn-add"
                id="contracts-nuevo-tab"
                data-bs-toggle="pill"
                data-bs-target="#contracts-presentacion"
                type="button"
                role="tab"
                aria-controls="contracts-presentacion"
                aria-selected="false"
                style="
                  background-color: #dc3545; /* Rojo de peligro */
                  border: 1px solid #dc3545;
                  color: #fff; /* Blanco para contraste */
                  text-align: center;
                  padding: 1rem;
                "
                (click)="onSubmit(idGlobal)"
              >
                Agregar contrato
              </button> -->

              <button
                type="button"
                class="btn btn-danger btn-add"
                (click)="onSubmit(idGlobal)"
              >
                Agregar contrato
              </button>
            </ng-container>
          </div>
        </div>
      </div>
      <!-- Termina Formulario lado derecho -->
      <div class="col-md-9 g-0">
        <div class="tab-content" id="contracts-tabContent">
          <div
            class="tab-pane fade"
            id="contracts-presentacion"
            role="tabpanel"
            aria-labelledby="contracts-presentacion-tab"
            tabindex="0"
          >
            <div class="form h-100">
              <form
                class=""
                method="post"
                id="planning-Form-StartAward"
                name="planning-Form-StartAward"
                novalidate="novalidate"
              >
                <div class="row">
                  <h3>Contratación</h3>
                  <hr />
                  <p>
                    La fase de Contratación consiste en registro del o los
                    'items' o servicios que se requieren adquirir en el contrato
                    de acuerdo con la evaluación de las propuestas.
                  </p>
                </div>
                <div class="row">
                  <div class="col">
                    <button
                      type="button"
                      class="btn btn-danger btn-add"
                      (click)="newContract()"
                    >
                      Agregar contrato
                    </button>
                  </div>
                </div>
                <div class="contractsArray">
                  <div class="row">
                    <div class="row mt-3">
                      <div class="col-md-12">
                        <div class="table-responsive">
                          <table class="table table-striped table-hover">
                            <thead>
                              <tr>
                                <!--  <th scope="col">_ID</th> -->
                                <th scope="col">ID</th>
                                <th scope="col">Identificador</th>
                                <th scope="col">Título</th>
                                <th scope="col">Editar</th>
                                <th scope="col">Visualizar</th>
                                <!-- <th scope="col">Eliminar</th> -->
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngIf="!registroPorId">
                                <th scope="row" colspan="8" class="text-center">
                                  Sin registros.
                                </th>
                              </tr>
                              <ng-container *ngIf="registroPorId">
                                <tr
                                  *ngFor="
                                    let contract of registroPorId.record
                                      .contracts;
                                    index as i
                                  "
                                >
                                  <td scope="row">
                                    {{ i + 1 }}
                                  </td>
                                  <!-- <td>{{ contract._id }}</td> -->
                                  <td>{{ contract?.id }}</td>
                                  <td>{{ contract?.title }}</td>
                                  <!-- (click)="editElement(contract._id)" -->
                                  <td (click)="editElement(contract)">
                                    <svg
                                      xmlns="http://www.w3.org/2000/svg"
                                      height="24px"
                                      viewBox="0 0 24 24"
                                      width="24px"
                                      fill="#5f6368"
                                    >
                                      <path d="M0 0h24v24H0z" fill="none" />
                                      <path
                                        d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"
                                      />
                                    </svg>
                                    Editar
                                  </td>
                                  <td (click)="viewElement(contract)">
                                    <svg
                                      xmlns="http://www.w3.org/2000/svg"
                                      height="24px"
                                      viewBox="0 0 24 24"
                                      width="24px"
                                      fill="#5f6368"
                                    >
                                      <path d="M0 0h24v24H0z" fill="none" />
                                      <path
                                        d="M12 4.5C7 4.5 2.73 7.61 1 12c1.73 4.39 6 7.5 11 7.5s9.27-3.11 11-7.5c-1.73-4.39-6-7.5-11-7.5zM12 17c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5zm0-8c-1.66 0-3 1.34-3 3s1.34 3 3 3 3-1.34 3-3-1.34-3-3-3z"
                                      />
                                    </svg>
                                    Visualizar
                                  </td>
                                  <!--  <td (click)="deleteElement(contract)">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  height="24px"
                  viewBox="0 0 24 24"
                  width="24px"
                  fill="#5f6368"
                >
                  <path d="M0 0h24v24H0z" fill="none" />
                  <path d="M0 0h24v24H0z" fill="none" />
                  <path d="M8 9h8v10H8z" />
                  <path
                    d="M18 2H6c-1.1 0-1.99.9-1.99 2L4 20c0 1.1.89 2 1.99 2H18c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zm-1 16H7V7h10v11z"
                  />
                </svg>
                Eliminar
              </td> -->
                                </tr>
                              </ng-container>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>

          <div
            class="tab-pane fade"
            id="contracts-general"
            role="tabpanel"
            aria-labelledby="contracts-general-tab"
            tabindex="0"
          >
            <div class="form">
              <app-contracts-general
                [contractForm]="contractForm"
              ></app-contracts-general>
            </div>
          </div>

          <div
            class="tab-pane fade"
            id="contracts-guarantees"
            role="tabpanel"
            aria-labelledby="contracts-guarantees-tab"
            tabindex="0"
          >
            <div class="form">
              <app-contracts-guarantees
                [guaranteesArray]="contractForm.value.guarantees"
                (addGuarante)="addGuarante($event)"
                (deleteGuarante)="deleteGuarante($event)"
              >
              </app-contracts-guarantees>
            </div>
          </div>

          <div
            class="tab-pane fade"
            id="contracts-documents"
            role="tabpanel"
            aria-labelledby="contracts-documents-tab"
            tabindex="0"
          >
            <div class="form">
              <app-contracts-documents
                [documentsArray]="contractForm.value.documents"
                (addDocument)="addDocument($event)"
                (deleteDocument)="deleteDocuments($event)"
              ></app-contracts-documents>
            </div>
          </div>

          <div
            class="tab-pane fade"
            id="contracts-milestones"
            role="tabpanel"
            aria-labelledby="contracts-milestones-tab"
            tabindex="0"
          >
            <div class="form">
              <app-contracts-milestones
                [milestonesArray]="contractForm.value.milestones"
                (addMilestone)="addMileston($event)"
                (deleteMilestone)="deleteMileston($event)"
              ></app-contracts-milestones>
            </div>
          </div>

          <div
            class="tab-pane fade"
            id="contracts-amendments"
            role="tabpanel"
            aria-labelledby="contracts-amendments-tab"
            tabindex="0"
          >
            <div class="form">
              <app-contracts-amendments
                [amendmentsArray]="contractForm.value.amendments"
                (addAmendment)="addAmendments($event)"
                (deleteAmendment)="deleteAmendments($event)"
              ></app-contracts-amendments>
            </div>
          </div>

          <!-- fin  -->
          <div class="col col-md-9">
            <div class="tab-content" id="contracts-tabContent">
              <div
                class="tab-pane fade"
                id="contracts-items"
                role="tabpanel"
                aria-labelledby="contracts-items-tab"
              >
                <div class="form h-100">
                  <form
                    [formGroup]="items"
                    id="planning-Form-start"
                    name="planning-Form-start"
                  >
                    <fieldset class="border p-3 mb-3">
                      <legend>
                        Datos del contrato (Sección de Ítems contratados)
                      </legend>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-floating mb-3">
                            <input
                              class="form-control"
                              id="item"
                              type="text"
                              placeholder="Item"
                              data-sb-validations="required"
                              formControlName="id"
                              [ngClass]="{ readonly: isReadOnly }"
                            />
                            <label for="item">Identificador del ítem</label>
                            <div
                              class="invalid-feedback"
                              data-sb-feedback="item:required"
                            >
                              Item es requerido.
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-floating mb-3">
                            <input
                              class="form-control"
                              id="cantidad"
                              type="text"
                              placeholder="Cantidad"
                              data-sb-validations="required"
                              formControlName="quantity"
                              [ngClass]="{ readonly: isReadOnly }"
                            />
                            <label for="cantidad">Cantidad</label>
                            <div
                              class="invalid-feedback"
                              data-sb-feedback="cantidad:required"
                            >
                              La cantidad es requerida.
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-floating mb-3">
                            <input
                              class="form-control"
                              id="descripcionItem"
                              type="text"
                              placeholder="descripcionItem"
                              data-sb-validations="required"
                              formControlName="description"
                              [ngClass]="{ readonly: isReadOnly }"
                            />
                            <label for="descripcionItem"
                              >Descripción del ítem</label
                            >
                            <div
                              class="invalid-feedback"
                              data-sb-feedback="descripcionItem:required"
                            >
                              La descripcion del item es requerida.
                            </div>
                          </div>
                        </div>
                      </div>
                      <div formGroupName="clasification">
                        <fieldset class="border p-3 mb-3">
                          <legend>Clasificación del ítem</legend>
                          <div class="row">
                            <div class="col-md-4">
                              <div class="form-floating mb-3">
                                <select
                                  class="form-select"
                                  id="Esquema"
                                  aria-label="Esquema"
                                  formControlName="scheme"
                                  [ngClass]="{ readonly: isReadOnly }"
                                >
                                  <option value="CUCOP">
                                    Clasificador Único de las Contrataciones
                                    Públicas CUCOP
                                  </option>
                                  <option value="NAICS">
                                    Sistema de Clasificación de la Industria
                                    Norteamericana
                                  </option>
                                  <option value="PSC">
                                    Códigos de Productos y Servicios
                                  </option>
                                  <option value="HS">
                                    Sistema Armonizado de Descripción y
                                    Codificación de Mercancías
                                  </option>
                                </select>
                                <label for="Esquema">Esquema: </label>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="form-floating mb-3">
                                <input
                                  class="form-control"
                                  id="idClasificacion"
                                  type="text"
                                  placeholder="Id de la clasificación"
                                  data-sb-validations="required"
                                  formControlName="id"
                                  [ngClass]="{ readonly: isReadOnly }"
                                />
                                <label for="idClasificacion"
                                  >Id de la clasificación</label
                                >
                                <div
                                  class="invalid-feedback"
                                  data-sb-feedback="idClasificacion:required"
                                >
                                  Id de la clasificación es requerida.
                                </div>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="form-floating mb-3">
                                <input
                                  class="form-control"
                                  id="uri"
                                  type="text"
                                  clasification
                                  placeholder="URL"
                                  data-sb-validations="required"
                                  formControlName="uri"
                                  [ngClass]="{ readonly: isReadOnly }"
                                />
                                <label for="uri">URL</label>
                                <div
                                  class="invalid-feedback"
                                  data-sb-feedback="uri:required"
                                >
                                  URL es requerida.
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-12">
                              <div class="form-floating mb-3">
                                <textarea
                                  class="form-control"
                                  id="descripcionClasificacion"
                                  type="text"
                                  placeholder="Descripción de la clasificación"
                                  style="height: 10rem"
                                  data-sb-validations="required"
                                  formControlName="description"
                                  [ngClass]="{ readonly: isReadOnly }"
                                ></textarea>
                                <label for="descripcionClasificacion"
                                  >Descripción de la clasificación</label
                                >
                                <div
                                  class="invalid-feedback"
                                  data-sb-feedback="descripcionClasificacion:required"
                                >
                                  La descripción de la clasificación Fes
                                  requerida
                                </div>
                              </div>
                            </div>
                          </div>
                        </fieldset>
                      </div>
                      <div
                        class="row"
                        formGroupName="additionalClassifications"
                      >
                        <fieldset class="border p-3 mb-3">
                          <legend>Clasificaciones adicionales</legend>
                          <div class="row">
                            <div class="col-md-6">
                              <div class="form-floating mb-3">
                                <select
                                  class="form-select"
                                  id="esquemaClasificacion"
                                  aria-label="Esquema de la clasificación"
                                  formControlName="scheme"
                                  [ngClass]="{ readonly: isReadOnly }"
                                >
                                  <option value="UNCEFACT">
                                    UN/CEFACT Recommendation 20
                                  </option>
                                  <option value="QUDT">QUDT</option>
                                  <option value="UNECE">UNECE</option>
                                  <option value="ISO80000">ISO 80000</option>
                                  <option value="UOMo">UOMo</option>
                                </select>
                                <label for="esquemaClasificacion"
                                  >Esquema de la clasificación.</label
                                >
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-floating mb-3">
                                <input
                                  class="form-control"
                                  id="idClasificacion"
                                  type="text"
                                  placeholder="Id de la clasificación"
                                  data-sb-validations="required"
                                  formControlName="id"
                                  [ngClass]="{ readonly: isReadOnly }"
                                />
                                <label for="idClasificacion"
                                  >Id de la clasificación</label
                                >
                                <div
                                  class="invalid-feedback"
                                  data-sb-feedback="idClasificacion:required"
                                >
                                  Id de la clasificación es requerida.
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-6">
                              <div class="form-floating mb-3">
                                <input
                                  class="form-control"
                                  id="descripcionClasificacion"
                                  type="text"
                                  placeholder="Descripcion de la clasificación"
                                  data-sb-validations="required"
                                  formControlName="description"
                                  [ngClass]="{ readonly: isReadOnly }"
                                />
                                <label for="descripcionClasificacion"
                                  >Descripcion de la clasificación</label
                                >
                                <div
                                  class="invalid-feedback"
                                  data-sb-feedback="descripcionClasificacion:required"
                                >
                                  La descripcion de la clasificación es
                                  requerida.
                                </div>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-floating mb-3">
                                <input
                                  class="form-control"
                                  id="uri"
                                  type="text"
                                  placeholder="URL"
                                  data-sb-validations="required"
                                  formControlName="uri"
                                  [ngClass]="{ readonly: isReadOnly }"
                                />
                                <label for="uri">URL</label>
                                <div
                                  class="invalid-feedback"
                                  data-sb-feedback="uri:required"
                                >
                                  URL es requerida.
                                </div>
                              </div>
                            </div>
                          </div>
                        </fieldset>
                      </div>
                      <div formGroupName="unit">
                        <fieldset class="border p-3 mb-3">
                          <legend>Unidad</legend>
                          <div class="row">
                            <div class="col-md-6">
                              <div class="form-floating mb-3">
                                <select
                                  class="form-select"
                                  id="esquemaClasificacion"
                                  aria-label="Esquema de la clasificación"
                                  formControlName="scheme"
                                  [ngClass]="{ readonly: isReadOnly }"
                                >
                                  <option value="1">UNCEFACT</option>
                                  <option value="2">2</option>
                                  <option value="3">3</option>
                                  <option value="4">4</option>
                                  <option value="5">5</option>
                                </select>
                                <label for="esquemaClasificacion"
                                  >Esquema de la clasificación.</label
                                >
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-floating mb-3">
                                <input
                                  class="form-control"
                                  id="idUnidad"
                                  type="text"
                                  placeholder="Id de la unidad"
                                  data-sb-validations="required"
                                  formControlName="id"
                                  [ngClass]="{ readonly: isReadOnly }"
                                />
                                <label for="idUnidad">Id de la unidad</label>
                                <div
                                  class="invalid-feedback"
                                  data-sb-feedback="idUnidad:required"
                                >
                                  Id de la unidad es requerida.
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-6">
                              <div class="form-floating mb-3">
                                <input
                                  class="form-control"
                                  id="nombreUnidad"
                                  type="text"
                                  placeholder="Nombre de la unidad"
                                  data-sb-validations="required"
                                  formControlName="name"
                                  [ngClass]="{ readonly: isReadOnly }"
                                />
                                <label for="nombreUnidad"
                                  >Nombre de la unidad</label
                                >
                                <div
                                  class="invalid-feedback"
                                  data-sb-feedback="nombreUnidad:required"
                                >
                                  Nombre de la unidad es requerida.
                                </div>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-floating mb-3">
                                <input
                                  class="form-control"
                                  id="url"
                                  type="text"
                                  placeholder="URL"
                                  data-sb-validations="required"
                                  formControlName="uri"
                                  [ngClass]="{ readonly: isReadOnly }"
                                />
                                <label for="url">URL</label>
                                <div
                                  class="invalid-feedback"
                                  data-sb-feedback="url:required"
                                >
                                  URL es requerida.
                                </div>
                              </div>
                            </div>
                          </div>
                        </fieldset>
                        <fieldset class="border p-3 mb-3">
                          <legend>Valor por unidad</legend>
                          <div formGroupName="value">
                            <div class="row">
                              <div class="col-md-6">
                                <div class="form-floating mb-3">
                                  <input
                                    class="form-control"
                                    id="montoUnitario"
                                    type="text"
                                    placeholder="Monto unitario"
                                    data-sb-validations="required"
                                    formControlName="amount"
                                    [ngClass]="{ readonly: isReadOnly }"
                                  />
                                  <label for="montoUnitario"
                                    >Montos unitario</label
                                  >
                                  <div
                                    class="invalid-feedback"
                                    data-sb-feedback="montoUnitario:required"
                                  >
                                    Monto unitario es requerido.
                                  </div>
                                </div>
                              </div>
                              <div class="col-md-6">
                                <div class="form-floating mb-3">
                                  <input
                                    class="form-control"
                                    id="moneda"
                                    type="text"
                                    placeholder="Moneda"
                                    data-sb-validations="required"
                                    formControlName="currency"
                                    [ngClass]="{ readonly: isReadOnly }"
                                  />
                                  <label for="moneda">Moneda</label>
                                  <div
                                    class="invalid-feedback"
                                    data-sb-feedback="moneda:required"
                                  >
                                    Moneda es requerida.
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </fieldset>
                      </div>
                      <div formGroupName="deliveryLocation">
                        <fieldset class="border p-3 mb-3">
                          <legend>Ubicación de entrega</legend>
                          <div class="row">
                            <div class="col-md-6">
                              <div class="form-floating mb-3">
                                <input
                                  class="form-control"
                                  id="uri"
                                  type="text"
                                  placeholder="URL"
                                  data-sb-validations="required"
                                  formControlName="uri"
                                  [ngClass]="{ readonly: isReadOnly }"
                                />
                                <label for="URL">URL</label>
                                <div
                                  class="invalid-feedback"
                                  data-sb-feedback="URL:required"
                                >
                                  URL es requerido.
                                </div>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-floating mb-3">
                                <input
                                  class="form-control"
                                  id="descriptionDelivery"
                                  type="text"
                                  placeholder="description"
                                  data-sb-validations="required"
                                  formControlName="description"
                                  [ngClass]="{ readonly: isReadOnly }"
                                />
                                <label for="description"
                                  >Descrpción de direccion</label
                                >
                                <div
                                  class="invalid-feedback"
                                  data-sb-feedback="description:required"
                                >
                                  Tipo de direccion es requerida.
                                </div>
                              </div>
                            </div>
                          </div>
                          <div formGroupName="geometry">
                            <div class="row">
                              <div class="col-md-12">
                                <div class="form-floating mb-3">
                                  <input
                                    class="form-control"
                                    id="tipo"
                                    type="text"
                                    placeholder="Tipo"
                                    data-sb-validations="required"
                                    formControlName="type"
                                    [ngClass]="{ readonly: isReadOnly }"
                                  />
                                  <label for="tipo">Tipo</label>
                                  <div
                                    class="invalid-feedback"
                                    data-sb-feedback="tipo:required"
                                  >
                                    Tipo es requerido.
                                  </div>
                                </div>
                              </div>
                              <div formGroupName="coordinates">
                                <div class="row">
                                  <div class="col-md-6">
                                    <div class="form-floating mb-3">
                                      <input
                                        class="form-control"
                                        id="latitud"
                                        type="text"
                                        placeholder="Latitud"
                                        data-sb-validations="required"
                                        formControlName="latitude"
                                        [ngClass]="{ readonly: isReadOnly }"
                                      />
                                      <label for="latitud">Latitud</label>
                                      <div
                                        class="invalid-feedback"
                                        data-sb-feedback="latitud:required"
                                      >
                                        Latitud es requerida.
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-md-6">
                                    <div class="form-floating mb-3">
                                      <input
                                        class="form-control"
                                        id="longitud"
                                        type="text"
                                        placeholder="Longitud"
                                        data-sb-validations="required"
                                        formControlName="longitude"
                                        [ngClass]="{ readonly: isReadOnly }"
                                      />
                                      <label for="longitud">Longitud</label>
                                      <div
                                        class="invalid-feedback"
                                        data-sb-feedback="longitud:required"
                                      >
                                        Longitud es requerida.
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div formGroupName="gazetteer">
                              <div class="row">
                                <div class="col-md-6">
                                  <div class="form-floating mb-3">
                                    <select
                                      class="form-select"
                                      id="esquema"
                                      data-sb-validations="required"
                                      formControlName="scheme"
                                      [ngClass]="{ readonly: isReadOnly }"
                                    >
                                      <option value="">
                                        Seleccione un esquema
                                      </option>
                                      <option value="INEGI">
                                        INEGI (Instituto Nacional de Estadística
                                        y Geografía)
                                      </option>
                                      <option value="DENUE">
                                        DENUE (Directorio Estadístico Nacional
                                        de Unidades Económicas)
                                      </option>
                                      <option value="AGEE">
                                        AGEE (Áreas Geoestadísticas Estatales)
                                      </option>
                                      <option value="AGEM">
                                        AGEM (Áreas Geoestadísticas Municipales)
                                      </option>
                                      <option value="AGEB">
                                        AGEB (Áreas Geoestadísticas Básicas)
                                      </option>
                                    </select>
                                    <label for="esquema">Esquema</label>
                                    <div
                                      class="invalid-feedback"
                                      data-sb-feedback="esquema:required"
                                    >
                                      Esquema es requerido.
                                    </div>
                                  </div>
                                </div>
                                <div class="col-md-6">
                                  <div class="form-floating mb-3">
                                    <input
                                      class="form-control"
                                      id="diccionarioGeografico"
                                      type="text"
                                      placeholder="diccionarioGeografico"
                                      data-sb-validations="required"
                                      formControlName="identifiers"
                                      [ngClass]="{ readonly: isReadOnly }"
                                    />
                                    <label for="diccionarioGeografico"
                                      >Id del diccionario geográfico</label
                                    >
                                    <div
                                      class="invalid-feedback"
                                      data-sb-feedback="diccionarioGeografico:required"
                                    >
                                      El id del diccionario geográfico es
                                      requerido.
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </fieldset>
                      </div>
                      <div formGroupName="deliveryAddress">
                        <fieldset class="border p-3 mb-3">
                          <legend>Dirección de entrega</legend>
                          <div class="row">
                            <div class="col-md-6">
                              <div class="form-floating mb-3">
                                <input
                                  class="form-control"
                                  id="uri"
                                  type="text"
                                  placeholder="URL"
                                  data-sb-validations="required"
                                  formControlName="uri"
                                  [ngClass]="{ readonly: isReadOnly }"
                                />
                                <label for="URL">URL</label>
                                <div
                                  class="invalid-feedback"
                                  data-sb-feedback="URL:required"
                                >
                                  URL es requerido.
                                </div>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-floating mb-3">
                                <input
                                  class="form-control"
                                  id="descriptionDelivery"
                                  type="text"
                                  placeholder="description"
                                  data-sb-validations="required"
                                  formControlName="description"
                                  [ngClass]="{ readonly: isReadOnly }"
                                />
                                <label for="description"
                                  >Descrpción de direccion</label
                                >
                                <div
                                  class="invalid-feedback"
                                  data-sb-feedback="description:required"
                                >
                                  Tipo de direccion es requerida.
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-6">
                              <div class="form-floating mb-3">
                                <input
                                  class="form-control"
                                  id="calle"
                                  type="text"
                                  placeholder="Calle"
                                  data-sb-validations="required"
                                  formControlName="streetAddress"
                                  [ngClass]="{ readonly: isReadOnly }"
                                />
                                <label for="calle">Calle</label>
                                <div
                                  class="invalid-feedback"
                                  data-sb-feedback="calle:required"
                                >
                                  Calle es requerida.
                                </div>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-floating mb-3">
                                <input
                                  class="form-control"
                                  id="localidad"
                                  type="text"
                                  placeholder="Localidad"
                                  data-sb-validations="required"
                                  formControlName="locality"
                                  [ngClass]="{ readonly: isReadOnly }"
                                />
                                <label for="localidad">Localidad</label>
                                <div
                                  class="invalid-feedback"
                                  data-sb-feedback="localidad:required"
                                >
                                  La localidad es requerida.
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-4">
                              <div class="form-floating mb-3">
                                <input
                                  class="form-control"
                                  id="codigoPostal"
                                  type="text"
                                  placeholder="Código postal"
                                  data-sb-validations="required"
                                  formControlName="postalCode"
                                  [ngClass]="{ readonly: isReadOnly }"
                                />
                                <label for="codigoPostal">Código postal</label>
                                <div
                                  class="invalid-feedback"
                                  data-sb-feedback="codigoPostal:required"
                                >
                                  Código postal es requerido.
                                </div>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="form-floating mb-3">
                                <input
                                  class="form-control"
                                  id="region"
                                  type="text"
                                  placeholder="Región"
                                  data-sb-validations="required"
                                  formControlName="region"
                                  [ngClass]="{ readonly: isReadOnly }"
                                />
                                <label for="region">Región</label>
                                <div
                                  class="invalid-feedback"
                                  data-sb-feedback="region:required"
                                >
                                  Región es requerida.
                                </div>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="form-floating mb-3">
                                <input
                                  class="form-control"
                                  id="pais"
                                  type="text"
                                  placeholder="País"
                                  data-sb-validations="required"
                                  formControlName="countryName"
                                  [ngClass]="{ readonly: isReadOnly }"
                                />
                                <label for="pais">País</label>
                                <div
                                  class="invalid-feedback"
                                  data-sb-feedback="pais:required"
                                >
                                  País es requerido.
                                </div>
                              </div>
                            </div>
                          </div>
                        </fieldset>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <button
                            (click)="addItemToArray()"
                            class="btn btn-danger btn-add"
                          >
                            Agregar item
                          </button>
                        </div>
                        <div class="col-md-6">
                          <button
                            (click)="addItemsToArray()"
                            class="btn btn-danger btn-add"
                            [ngClass]="{ readonly: isReadOnly }"
                          >
                            Guardar sección
                          </button>
                        </div>
                      </div>
                      <div class="row">
                        <div class="row mt-3">
                          <div class="col-12">
                            <h4>Items List</h4>
                            <table class="table table-striped">
                              <thead>
                                <tr>
                                  <th>ID</th>
                                  <th>Description</th>
                                  <th>Quantity</th>
                                  <th>Actions</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr
                                  *ngFor="let item of itemsArray; let i = index"
                                >
                                  <td>{{ item.id }}</td>
                                  <td>{{ item.description }}</td>
                                  <td>{{ item.quantity }}</td>
                                  <td>
                                    <button
                                      class="btn btn-danger btn-sm"
                                      (click)="deleteItem(i)"
                                    >
                                      Delete
                                    </button>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </fieldset>
                  </form>
                </div>
              </div>
            </div>

            <div class="tab-content" id="contracts-tabContent">
              <div
                class="tab-pane fade"
                id="contracts-implementation"
                role="tabpanel"
                aria-labelledby="contracts-implementation-tab"
              >
                <app-contracts-implementation></app-contracts-implementation>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
