<div class="content">
  <div class="container">
    <div class="row align-items-stretch no-gutters menu-wrap">
      <div class="col-md-3 g-0">
        <div class="menu-info h-100">
          <h3>4. Contrato</h3>
          <ul class="list-unstyled">
            <li class="d-flex">
              <span class=" mr-3">▼ </span><!-- Falta la sección en donde apareceran los contratos agregados  -->
              <span class="text">&nbsp;&nbsp;Agregar contrato</span>
            </li>
            <li class="d-flex">
              <span class=" mr-3">▤ </span>
              <span class="text">&nbsp;&nbsp;Documentos</span>
            </li>
            <li class="d-flex">
              <span class="mr-3">$ </span>
              <span class="text">&nbsp;&nbsp;&nbsp;Ítems del contrat</span>
            </li>
            <li class="d-flex">
              <span class="mr-3">♕ </span>
              <span class="text"> &nbsp;Modificaciones</span>
            </li>
            <li class="d-flex">
              <span class="mr-3">℘ </span>
              <span class="text">&nbsp;&nbsp;Garantías</span>
            </li>
          </ul>
        </div>
      </div><!-- termina col-md-3 -->
      <div class="col col-md-9">
        <div class="form h-100">
          <h3>Formulario</h3>
          <form class="mb-5" method="post" id="planning-Form-start" name="planning-Form-start" novalidate="novalidate">
            <div class="row">
              <div class="col-md-12 form-group mb-5">
                <div class="form-floating mb-3">
                  <select class="form-select" id="newField2" aria-label="New Field 2">
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                  </select>
                  <label for="newField2"> Estatus: </label>
              </div>
              </div>
            </div>
            <div class="row">
              <div class="col col-md-12">
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" id="idContrato" placeholder="Identificador del contrato">
                  <label for="idContrato">Identificador del contrato</label>
                </div>
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" id="nomContrato" placeholder="Nombre del contrato">
                  <label for="nomContrato">Nombre del contrato</label>
                </div>
                <div class="form-floating mb-3">
                  <textarea class="form-control" id="objContrato" type="text" placeholder="New Field 11" style="height: 10rem;" data-sb-validations="required"></textarea>
                  <label for="objContrato">Objeto del contrato</label>
                  <div class="invalid-feedback" data-sb-feedback="newField11:required">Objeto del contrato</div>
              </div>
              <div class="form-floating mb-3">
                <select class="form-select" id="mecanismoVigilancia" aria-label="New Field 12">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <label for="mecanismoVigilancia">Mecanismos de vigilancia:</label>
            </div>
              </div> <!-- termina col col-md-12 -->
              <div class="row">
                <h2>Vigencia</h2>
                <div class="col-md-6">
                  <div class="form-floating mb-3">
                    <input class="form-control" id="fechaInicio" type="date" placeholder="New Field 13" data-sb-validations="required" />
                    <label for="fechaInicio">Fecha de inicio</label>
                    <div class="invalid-feedback" data-sb-feedback="fechaInicio:required">New Field 13 is required.</div>
                </div>
                </div>
                <div class="col-md-6">
                  <div class="form-floating mb-3">
                    <input class="form-control" id="fechaFin" type="date" placeholder="New Field 13" data-sb-validations="required" />
                    <label for="fechaFin">Fecha de final</label>
                    <div class="invalid-feedback" data-sb-feedback="fechaFin:required">New Field 13 is required.</div>
                </div>
              </div>
              </div><!-- Termina row vigencia-->
              <div class="row">
                <h2>Valor</h2>
                <div class="col-md-4">
                  <div class="form-floating mb-3">
                    <input class="form-control" id="montoSinImpuestos2" type="text" placeholder="New Field 13" data-sb-validations="required" />
                    <label for="montoSinImpuestos">Monto sin impuestos</label>
                    <div class="invalid-feedback" data-sb-feedback="newField13:required">Monto sin impuestos es requerido.</div>
                </div>
                </div>
                <div class="col-md-4">
                  <div class="form-floating mb-3">
                    <input class="form-control" id="montoTotal" type="text" placeholder="New Field 13" data-sb-validations="required" />
                    <label for="montoTotal">Monto total</label>
                    <div class="invalid-feedback" data-sb-feedback="montoTotal:required">New Field 13 is required.</div>
                </div>                </div>
                <div class="col-md-4">
                  <div class="form-floating mb-3">
                    <input class="form-control" id="moneda" type="text" placeholder="New Field 13" data-sb-validations="required" />
                    <label for="moneda">Moneda</label>
                    <div class="invalid-feedback" data-sb-feedback="newField13:required">New Field 13 is required.</div>
                  </div>
                </div>
              </div><!-- Termina row -->
              <div class="row">
                <h2>Tasa de cambio</h2>
                <div class="col-md-4">
                  <div class="form-floating mb-3">
                    <input class="form-control" id="tasa" type="text" placeholder="New Field 13" data-sb-validations="required" />
                    <label for="tasa">Tasa</label>
                    <div class="invalid-feedback" data-sb-feedback="tasa:required">Monto sin impuestos es requerido.</div>
                </div>
                </div>
                <div class="col-md-4">
                  <div class="form-floating mb-3">
                    <input class="form-control" id="montoMxn" type="text" placeholder="New Field 13" data-sb-validations="required" />
                    <label for="montoMxn">Monto en MXN</label>
                    <div class="invalid-feedback" data-sb-feedback="montoMxn:required">Monto en MXN es requerido.</div>
                </div>                </div>
                <div class="col-md-4">
                  <div class="form-floating mb-3">
                    <input class="form-control" id="monedaNw" type="text" placeholder="New Field 13" data-sb-validations="required" />
                    <label for="monedaNw">Moneda</label>
                    <div class="invalid-feedback" data-sb-feedback="monedaNw:required">Moneda es requerido.</div>
                  </div>
                </div>
              </div><!-- Termina row de 4-->
              <div class="row">
                <div class="col-md-6">
                  <div class="form-floating mb-3">
                    <select class="form-select" id="fuente" aria-label="New Field 14">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                    <label for="fuente">Fuente</label>
                </div>
                </div>
                <div class="col-md-6">
                  <div class="form-floating mb-3">
                    <input class="form-control" id="fechaTasaCambio" type="date" placeholder="New Field 13" data-sb-validations="required" />
                    <label for="fechaTasaCambio">Fecha de la tasa de cambio</label>
                    <div class="invalid-feedback" data-sb-feedback="fechaTasaCambio:required">New Field 13 is required.</div>
                </div>
              </div>
              </div><!-- Termina row de 6 -->
              <div class="row">
                <div class="col-md-12">
                  <div class="form-floating mb-3">
                    <input class="form-control" id="fechaFirma" type="text" placeholder="New Field 13" data-sb-validations="required" />
                    <label for="fechaFirma">Fecha de firma del contrato</label>
                    <div class="invalid-feedback" data-sb-feedback="fechaFirma:required">Folio es requerido.</div>
                  </div>
                </div>
              </div><!-- Termina row -->
              <div class="row">
                <div class="col-md-4">
                  <button type="button" class="btn btn-primary">Guardar</button>
                </div>
                <div class="col-md-4">
                  <button type="button" class="btn btn-primary">Importar datos</button>
                </div>
                <div class="col-md-4">
                  <button type="button" class="btn btn-danger">Eliminar</button>

                </div>
              </div><!-- Termina row de 6 -->
            </div>
          </form>
        </div>

      </div> <!-- termina col-md-9 -->
    </div>
  </div>
</div>
