<div class="container">
  <div class="row">
    <div class="col">
      <h3>Información general</h3>
      <hr />
    </div>
  </div>
  <form>
    <div class="row">
      <div class="form-floating col mb-5">
        <input
          class="form-control"
          id="name"
          type="text"
          data-sb-validations="required"
          placeholder="Nombre común*"
          formControlName="name"
        />
        <label for="name">Nombre común*</label>
        <div class="invalid-feedback" data-sb-feedback="name:required">
          Nombre común * es requerido.
        </div>
      </div>
    </div>

    <div class="row">
      <div class="form-floating col mb-5">
        <input
          class="form-control"
          id="position"
          type="text"
          data-sb-validations="required"
          placeholder="Cargo*"
          formControlName="position"
        />
        <label for="position">Cargo*</label>
        <div class="invalid-feedback" data-sb-feedback="position:required">
          Cargo * es requerido.
        </div>
      </div>
    </div>

    <div class="row">
      <div class="form-floating col mb-5">
        <input
          class="form-control"
          id="roles"
          type="text"
          data-sb-validations="required"
          placeholder="Papeles de los actores*"
          formControlName="roles"
        />
        <label for="roles">Papeles de los actores*</label>
        <div class="invalid-feedback" data-sb-feedback="roles:required">
          Papeles de los actores * es requerido.
        </div>
      </div>
    </div>

    <fieldset class="border p-3 mb-3" formGroupName="identifier">
      <legend class="w-auto px-1">Identificador principal</legend>

      <div class="row">
        <div class="form-floating col mb-5">
          <input
            class="form-control"
            id="legalPersonality"
            type="text"
            data-sb-validations="required"
            placeholder="Personalidad jurídica*"
            formControlName="legalPersonality"
          />
          <label for="legalPersonality">Personalidad jurídica*</label>
          <div
            class="invalid-feedback"
            data-sb-feedback="legalPersonality:required"
          >
            Personalidad jurídica * es requerido.
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-floating col mb-5">
          <input
            class="form-control"
            id="legalName"
            type="text"
            data-sb-validations="required"
            placeholder="Nombre legal*"
            formControlName="legalName"
          />
          <label for="legalName">Nombre legal*</label>
          <div class="invalid-feedback" data-sb-feedback="legalName:required">
            Nombre legal * es requerido.
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-floating col mb-5">
          <input
            class="form-control"
            id="givenName"
            type="text"
            data-sb-validations="required"
            placeholder="Nombre*"
            formControlName="givenName"
          />
          <label for="givenName">Nombre*</label>
          <div class="invalid-feedback" data-sb-feedback="givenName:required">
            Nombre * es requerido.
          </div>
        </div>

        <div class="form-floating col mb-5">
          <input
            class="form-control"
            id="patronymicName"
            type="text"
            data-sb-validations="required"
            placeholder="Primer apellido*"
            formControlName="patronymicName"
          />
          <label for="patronymicName">Primer apellido*</label>
          <div
            class="invalid-feedback"
            data-sb-feedback="patronymicName:required"
          >
            Primer apellido * es requerido.
          </div>
        </div>

        <div class="form-floating col mb-5">
          <input
            class="form-control"
            id="matronymicName"
            type="text"
            data-sb-validations="required"
            placeholder="Segundo apellido*"
            formControlName="matronymicName"
          />
          <label for="matronymicName">Segundo apellido*</label>
          <div
            class="invalid-feedback"
            data-sb-feedback="matronymicName:required"
          >
            Segundo apellido * es requerido.
          </div>
        </div>
      </div>
    </fieldset>

    <fieldset class="border p-3 mb-3" formGroupName="identifier">
      <legend class="w-auto px-1">Identificadores adicionales</legend>

      <div class="row">
        <div class="form-floating col mb-5">
          <input
            class="form-control"
            id="legalName"
            type="text"
            data-sb-validations="required"
            placeholder="Nombre legal*"
            formControlName="legalName"
          />
          <label for="legalName">Nombre legal*</label>
          <div class="invalid-feedback" data-sb-feedback="legalName:required">
            Nombre legal * es requerido.
          </div>
        </div>
      </div>
    </fieldset>

    <!-- fin form  -->
  </form>
</div>
<form>
  <fieldset class="border p-3 mb-3" formGroupName="address">
    <div class="row">
      <h4>Domicilio</h4>
    </div>
    <div class="row">
      <div class="form-floating col-md-6 mb-5">
        <input
          type="text"
          class="form-control"
          id="streetAddress"
          placeholder="Calle y número"
          formControlName="streetAddress"
        />
        <label for="streetAddress">Calle y número</label>
      </div>
      <div class="form-floating col-md-6 mb-5">
        <input
          type="text"
          class="form-control"
          id="locality"
          placeholder="Localidad"
          formControlName="locality"
        />
        <label for="locality">Localidad</label>
      </div>
    </div>
    <div class="row">
      <div class="form-floating col-md-4 mb-5">
        <input
          type="text"
          class="form-control"
          id="region"
          placeholder="Región"
          formControlName="region"
        />
        <label for="region">Región</label>
      </div>
      <div class="form-floating col-md-4 mb-5">
        <input
          type="text"
          class="form-control"
          id="postalCode"
          placeholder="Código Postal"
          formControlName="postalCode"
        />
        <label for="postalCode">Código Postal</label>
      </div>
      <div class="form-floating col-md-4 mb-5">
        <input
          type="text"
          class="form-control"
          id="countryName"
          placeholder="País"
          formControlName="countryName"
        />
        <label for="countryName">País</label>
      </div>
    </div>
  </fieldset>

  <fieldset class="border p-3 mb-3" formGroupName="roles">
    <div class="row">
      <h4>Rol o roles de la parte involucrada</h4>
    </div>
    <div class="row">
      <div
        class="form-check form-switch col-md-4 mb-5"
        *ngFor="let role of rolesList"
      >
        <input
          class="form-check-input"
          type="checkbox"
          role="switch"
          [id]="role.id"
          [formControlName]="role.id"
          (change)="onRoleChange()"
        />
        <label class="form-check-label" [for]="role.id">{{ role.label }}</label>
      </div>
    </div>
  </fieldset>
  <fieldset class="border p-3 mb-3" formGroupName="memberOf">
    <div class="row">
      <h4>Miembro de:</h4>
      <div class="row">
        <div class="form-floating col-md-6 mb-5">
          <input
            type="text"
            class="form-control"
            id="id"
            placeholder="Identificador del actor"
            formControlName="id"
          />
          <label for="id">Identificador del actor</label>
        </div>
        <div class="form-floating col-md-6 mb-5">
          <input
            type="text"
            class="form-control"
            id="name"
            placeholder="Nombre del actor"
            formControlName="name"
          />
          <label for="name">Nombre del actor</label>
        </div>
      </div>
    </div>
  </fieldset>

  <fieldset class="border p-3 mb-3" formGroupName="details">
    <h4>¿Cotiza en el mercado regulado?</h4>
    <div class="row">
      <div class="form-check m-3">
        <input
          class="form-check-input"
          type="radio"
          formControlName="listedOnRegulatedMarket"
          id="listedOnRegulatedMarketTrue"
          [value]="true"
        />
        <label class="form-check-label" for="listedOnRegulatedMarketTrue">
          Sí
        </label>
      </div>
      <div class="form-check m-3">
        <input
          class="form-check-input"
          type="radio"
          formControlName="listedOnRegulatedMarket"
          id="listedOnRegulatedMarketFalse"
          [value]="false"
        />
        <label class="form-check-label" for="listedOnRegulatedMarketFalse">
          No
        </label>
      </div>
    </div>
  </fieldset>

  <div class="row">
    <div class="col-md-6 form-group d-flex justify-content-between">
      <input
        type="submit"
        value="Guardar"
        class="btn btn-primary rounded-0 py-2 px-4"
      />
      <span class="Guardar"></span>
      <input
        type="submit"
        value="Eliminar"
        class="btn btn-danger rounded-0 py-2 px-4"
      />
      <span class="Guardar"></span>
    </div>
  </div>
</form>
