<div class="container">
  <div class="row">
    <div class="col">
      <h3>Información general</h3>
      <hr />
    </div>
  </div>
  <form [formGroup]="generalForm">
    <div class="row">
      <div class="form-floating col mb-5">
        <input
          class="form-control"
          id="name"
          type="text"
          data-sb-validations="required"
          placeholder="Nombre común*"
          formControlName="name"
        />
        <label for="name">Nombre común*</label>
        <div class="invalid-feedback" data-sb-feedback="name:required">
          Nombre común * es requerido.
        </div>
      </div>
    </div>

    <div class="row">
      <div class="form-floating col mb-5">
        <input
          class="form-control"
          id="position"
          type="text"
          data-sb-validations="required"
          placeholder="Cargo*"
          formControlName="position"
        />
        <label for="position">Cargo*</label>
        <div class="invalid-feedback" data-sb-feedback="position:required">
          Cargo * es requerido.
        </div>
      </div>
    </div>

    <div class="row">
      <div class="form-floating col mb-5">
        <input
          class="form-control"
          id="roles"
          type="text"
          data-sb-validations="required"
          placeholder="Papeles de los actores*"
          formControlName="roles"
        />
        <label for="roles">Papeles de los actores*</label>
        <div class="invalid-feedback" data-sb-feedback="roles:required">
          Papeles de los actores * es requerido.
        </div>
      </div>
    </div>

    <fieldset class="border p-3 mb-3" formGroupName="identifier">
      <legend class="w-auto px-1">Identificador principal</legend>

      <div class="row">
        <div class="form-floating col mb-5">
          <input
            class="form-control"
            id="legalPersonality"
            type="text"
            data-sb-validations="required"
            placeholder="Personalidad jurídica*"
            formControlName="legalPersonality"
          />
          <label for="legalPersonality">Personalidad jurídica*</label>
          <div
            class="invalid-feedback"
            data-sb-feedback="legalPersonality:required"
          >
            Personalidad jurídica * es requerido.
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-floating col mb-5">
          <input
            class="form-control"
            id="legalName"
            type="text"
            data-sb-validations="required"
            placeholder="Nombre legal*"
            formControlName="legalName"
          />
          <label for="legalName">Nombre legal*</label>
          <div class="invalid-feedback" data-sb-feedback="legalName:required">
            Nombre legal * es requerido.
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-floating col mb-5">
          <input
            class="form-control"
            id="givenName"
            type="text"
            data-sb-validations="required"
            placeholder="Nombre*"
            formControlName="givenName"
          />
          <label for="givenName">Nombre*</label>
          <div class="invalid-feedback" data-sb-feedback="givenName:required">
            Nombre * es requerido.
          </div>
        </div>

        <div class="form-floating col mb-5">
          <input
            class="form-control"
            id="patronymicName"
            type="text"
            data-sb-validations="required"
            placeholder="Primer apellido*"
            formControlName="patronymicName"
          />
          <label for="patronymicName">Primer apellido*</label>
          <div
            class="invalid-feedback"
            data-sb-feedback="patronymicName:required"
          >
            Primer apellido * es requerido.
          </div>
        </div>

        <div class="form-floating col mb-5">
          <input
            class="form-control"
            id="matronymicName"
            type="text"
            data-sb-validations="required"
            placeholder="Segundo apellido*"
            formControlName="matronymicName"
          />
          <label for="matronymicName">Segundo apellido*</label>
          <div
            class="invalid-feedback"
            data-sb-feedback="matronymicName:required"
          >
            Segundo apellido * es requerido.
          </div>
        </div>
      </div>
    </fieldset>

    <fieldset class="border p-3 mb-3" formGroupName="identifier">
      <legend class="w-auto px-1">Identificadores adicionales</legend>

      <div class="row">
        <div class="form-floating col mb-5">
          <input
            class="form-control"
            id="legalName"
            type="text"
            data-sb-validations="required"
            placeholder="Nombre legal*"
            formControlName="legalName"
          />
          <label for="legalName">Nombre legal*</label>
          <div class="invalid-feedback" data-sb-feedback="legalName:required">
            Nombre legal * es requerido.
          </div>
        </div>
      </div>
    </fieldset>

    <div class="row">
      <div class="col">
        <button type="button" class="btn btn-danger btn-save" (click)="save()">
          Guardar
        </button>
      </div>
    </div>
    <!-- fin form  -->
  </form>
</div>
