<div class="content">
  <div class="container">
    <div class="row align-items-stretch no-gutters menu-wrap">
      <div class="col-md-3 g-0">
        <div class="menu-info h-100">
          <div
            class="nav flex-column nav-pills"
            id="implementacion-tab"
            role="tablist"
            aria-orientation="vertical"
          >
            <h3
              class="active text-left mb-2"
              id="implementacion-presentacion-tab"
              data-bs-toggle="pill"
              data-bs-target="#implementacion-presentacion"
              type="button"
              role="tab"
              aria-controls="implementacion-presentacion"
              aria-selected="true"
            >
              &nbsp;&nbsp;5. Ejecución
            </h3>

            <button
              class="nav-link text-left"
              id="implementacion-transacciones-tab"
              data-bs-toggle="pill"
              data-bs-target="#implementacion-transacciones"
              type="button"
              role="tab"
              aria-controls="implementacion-transacciones"
              aria-selected="false"
            >
              Transacciones
            </button>

            <button
              class="nav-link text-left"
              id="implementacion-hitos-tab"
              data-bs-toggle="pill"
              data-bs-target="#implementacion-hitos"
              type="button"
              role="tab"
              aria-controls="implementacion-hitos"
              aria-selected="false"
            >
              Hitos
            </button>
            <button
              class="nav-link text-left"
              id="implementacion-documentos-tab"
              data-bs-toggle="pill"
              data-bs-target="#implementacion-documentos"
              type="button"
              role="tab"
              aria-controls="implementacion-documentos"
              aria-selected="false"
            >
              Documentos
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-9 g-0">
        <div class="tab-content" id="implementacion-tabContent">
          <div
            class="tab-pane fade show active"
            id="implementacion-presentacion"
            role="tabpanel"
            aria-labelledby="implementacion-presentacion-tab"
            tabindex="0"
          >
            <div class="form h-100">
              <!-- <div class="row imageP"></div> -->
              <div class="row">
                <h3>Ejecución</h3>
                <hr />
                <p>
                  La información relacionada con la implementación del contrato
                  de acuerdo con las obligaciones definidas en el mismo.
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="tab-content" id="implementacion-tabContent">
          <div
            class="tab-pane fade"
            id="implementacion-transacciones"
            role="tabpanel"
            aria-labelledby="implementacion-transacciones-tab"
            tabindex="0"
          >
            <div class="form">
              <app-implementation-transactions></app-implementation-transactions>
            </div>
          </div>
        </div>
        <div class="tab-content" id="implementacion-tabContent">
          <div
            class="tab-pane fade"
            id="implementacion-hitos"
            role="tabpanel"
            aria-labelledby="implementacion-hitos-tab"
            tabindex="0"
          >
            <div class="form">
              <!-- Hitos Fieldset -->
              <app-implementation-milestones></app-implementation-milestones>
            </div>
          </div>
        </div>

        <div class="tab-content" id="implementacion-tabContent">
          <div
            class="tab-pane fade"
            id="implementacion-documentos"
            role="tabpanel"
            aria-labelledby="implementacion-documentos-tab"
            tabindex="0"
          >
            <div class="form">
              <!-- Documents fieldset -->
              <app-implementation-documents></app-implementation-documents>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
