<div class="form h-100">
  <div class="row">
    <div class="col">
      <h3>Documentos</h3>
      <p>Una lista de documentos relacionados con la etapa de planeación.</p>
      <hr />
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="table-responsive-sm">
        <table class="table table-hover table-striped mb-10">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Tipo de documento</th>
              <th scope="col">Titulo</th>
              <th scope="col">Descripción</th>
              <th scope="col">URL</th>
              <th scope="col">Fecha de publicación</th>
              <th scope="col">Fecha de Modificación</th>
              <th scope="col">Formato</th>
              <th scope="col">Idioma</th>

              <th scope="col">Opciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let doc of documentsArray; index as i">
              <th scope="row">{{ doc.id || i + 1 }}</th>
              <td>{{ getDocumentTypeTitle(doc.documentType) }}</td>
              <td>{{ doc.title }}</td>
              <td>{{ doc.description }}</td>
              <td>{{ doc.url }}</td>
              <td>{{ doc.datePublished }}</td>
              <td>{{ doc.dateModified }}</td>
              <td>{{ getFormatDocument(doc.format) }}</td>
              <td>{{ getLanguage(doc.language) }}</td>
              <td>
                <button
                  type="button"
                  class="btn btn-danger btn-delete"
                  (click)="deleteDocument.emit(i)"
                >
                  Eliminar
                </button>
              </td>
            </tr>
            <tr *ngIf="documentsArray.length === 0">
              <th scope="row" colspan="10" class="text-center">
                Sin registros.
              </th>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <hr />

  <form [formGroup]="documentForm">
    <div class="row">
      <div class="col-12">
        <label for="">Tipo de documento</label>
      </div>
      <div class="form-floating col mb-5">
        <select class="form-select" formControlName="documentType">
          <option *ngFor="let d of documents" [ngValue]="d.code">
            {{ d.title }}
          </option>
        </select>
        <app-input-validation [element]="documentType"></app-input-validation>
        <p>
          {{ getDocumentTypeDesc(documentForm.value.documentType) }}
        </p>
      </div>
    </div>

    <!-- <div class="row">
        <div class="form-floating col mb-5">
          <select class="form-select" formControlName="documentType">
            <option selected>Seleccione un tipo de documento</option>
            <option *ngFor="let d of documents" [ngValue]="d.code">
              {{ d.title }}
            </option>
          </select>
          <br />
          <p>{{ documentForm.value.documentType.description }}</p>
        </div>
      </div> -->

    <div class="row">
      <div class="form-floating col mb-2">
        <input
          class="form-control"
          id="title"
          type="text"
          data-sb-validations="required"
          placeholder="title"
          formControlName="title"
        />
        <label for="title">Titulo*</label>
        <app-input-validation [element]="title"></app-input-validation>
        <div class="invalid-feedback" data-sb-feedback="title:required">
          Titulo * es requerido.
        </div>
      </div>
      <div class="form-text">El título del documento.</div>
    </div>

    <div class="row">
      <div class="form-floating col-12 mb-2">
        <textarea
          class="form-control"
          id="description"
          type="text"
          placeholder="Descripción*"
          style="height: 100px"
          formControlName="description"
        ></textarea>
        <label for="description">Descripción*</label>
        <app-input-validation [element]="description"></app-input-validation>
        <div class="invalid-feedback" data-sb-feedback="description:required">
          Descripción * es requerido.
        </div>
      </div>
      <div class="form-text">
        Una breve descripción del documento. Se recomienda no exceder las 250
        palabras. En el caso que el documento no esté disponible en línea, el
        campo podrá utilizarse para describir el proceso para acceder a una
        copia del mismo.
      </div>
    </div>

    <div class="row">
      <div class="form-floating col mb-2">
        <input
          class="form-control"
          id="URL"
          type="text"
          data-sb-validations="required"
          placeholder="URL*"
          formControlName="url"
        />
        <label for="URL">URL*</label>
        <app-input-validation [element]="url"></app-input-validation>
        <div class="invalid-feedback" data-sb-feedback="title:required">
          URL * es requerido.
        </div>
      </div>
      <div class="form-text">
        Enlace directo al documento o archivo adjunto.
      </div>
    </div>

    <div class="row">
      <div class="col-6 mb-2">
        <div class="form-floating">
          <input
            class="form-control"
            id="datePublished"
            type="date"
            data-sb-validations="required"
            formControlName="datePublished"
          />
          <label for="datePublished">Fecha de publicación*</label>
          <app-input-validation
            [element]="datePublished"
          ></app-input-validation>
          <div class="invalid-feedback" data-sb-feedback="title:required">
            Fecha de publicación * es requerido.
          </div>
        </div>
        <div class="form-text">
          La fecha de publicación del documento. Esto es particularmente
          importante para documentos relevantes desde el punto de vista legal,
          como las convocatorias a licitación.
        </div>
      </div>
      <div class="col-6 mb-2">
        <div class="form-floating">
          <input
            class="form-control"
            id="dateModified"
            type="date"
            data-sb-validations="required"
            formControlName="dateModified"
          />
          <label for="dateModified">Fecha de modificación*</label>
          <app-input-validation [element]="dateModified"></app-input-validation>
          <div class="invalid-feedback" data-sb-feedback="title:required">
            Fecha de modificación * es requerido.
          </div>
        </div>
        <div class="form-text">
          Fecha en que se modificó por última vez el documento.
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <div class="row">
          <div class="col-12">
            <label for="format">Formato</label>
          </div>
          <div class="form-floating col mb-2">
            <select class="form-select" formControlName="format">
              <option *ngFor="let d of formatDocument" [ngValue]="d.template">
                {{ d.name }}
              </option>
            </select>
            <app-input-validation [element]="format"></app-input-validation>
          </div>
          <div class="form-text">El formato del documento</div>
        </div>
      </div>
      <div class="col-6">
        <div class="row">
          <div class="col-12">
            <label for="language">Idioma</label>
          </div>
          <div class="form-floating col mb-2">
            <select class="form-select" formControlName="language">
              <option *ngFor="let d of language" [ngValue]="d.code">
                {{ d.name }}
              </option>
            </select>
            <app-input-validation
              [element]="doc_language"
            ></app-input-validation>
          </div>
          <div class="form-text">Especifica el idioma del documento.</div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <button
          type="button"
          class="btn btn-danger btn-add"
          (click)="addNewDocument()"
          [disabled]="!documentForm.valid"
        >
          Agregar documento
        </button>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-12 spin">
        <div *ngIf="mostrarSpinner" class="spinner-container">
          <div class="spinner-border" role="status">
            <span class="visually-hidden">Guardando...</span>
          </div>
          <p class="mt-2">Guardando...</p>
        </div>
      </div>
    </div>
  </form>
</div>
