<div class="content">
  <div class="container">
    <div class="row align-items-stretch no-gutters menu-wrap">
      <div class="col-md-3 g-0">
        <div class="menu-info h-100">
          <div
            class="nav flex-column nav-pills"
            id="adjudication-tab"
            role="tablist"
            aria-orientation="vertical"
          >
            <h3
              class="active text-left"
              id="definicion-adjudicacion-tab"
              data-bs-toggle="pill"
              data-bs-target="#definicion-adjudicacion"
              type="button"
              role="tab"
              aria-controls="definicion-adjudicacion"
              aria-selected="true"
            >
              &nbsp;&nbsp;3. Adjudicación
            </h3>
            <button
              class="nav-link text-left"
              id="adjudicacion-general-tab"
              data-bs-toggle="pill"
              data-bs-target="#adjudicacion-general"
              type="button"
              role="tab"
              aria-controls="adjudicacion-general"
              aria-selected="false"
            >
              Información General
            </button>
            <button
              class="nav-link text-left"
              id="adjudicacion-proveedores-tab"
              data-bs-toggle="pill"
              data-bs-target="#adjudicacion-proveedores"
              type="button"
              role="tab"
              aria-controls="adjudicacion-proveedores"
              aria-selected="false"
            >
              Proveedores
            </button>
            <button
              class="nav-link"
              id="adjudicacion-items-tab"
              data-bs-toggle="pill"
              data-bs-target="#adjudicacion-items"
              type="button"
              role="tab"
              aria-controls="adjudicacion-items"
              aria-selected="false"
            >
              Artículos
            </button>
            <button
              class="nav-link"
              id="adjudicacion-documentos-tab"
              data-bs-toggle="pill"
              data-bs-target="#adjudicacion-documentos"
              type="button"
              role="tab"
              aria-controls="adjudicacion-documentos"
              aria-selected="false"
            >
              Documentos
            </button>
            <button
              class="nav-link"
              id="adjudicacion-mofificaciones-tab"
              data-bs-toggle="pill"
              data-bs-target="#adjudicacion-mofificaciones"
              type="button"
              role="tab"
              aria-controls="adjudicacion-mofificaciones"
              aria-selected="false"
            >
              Modificaciones
            </button>
          </div>
          <div class="d-flex flex-column">
            <button
              type="button"
              class="btn btn-danger text-center p-3"
              (click)="submit()"
            >
              Guardar Adjudicación
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-9 g-0">
        <div class="tab-content" id="adjudicaciones-tabContent">
          <div
            class="tab-pane fade show active"
            id="definicion-adjudicacion"
            role="tabpanel"
            aria-labelledby="definicion-adjudicacion-tab"
            tabindex="0"
          >
            <div class="form h-100">
              <form
                class=""
                method="post"
                id="planning-Form-StartAward"
                name="planning-Form-StartAward"
                novalidate="novalidate"
              >
                <!-- <div class="row imageP"></div> -->
                <div class="row">
                  <h3>Adjudicación</h3>
                  <hr />
                  <p>
                    La fase de Adjudicación consiste en registro del o los
                    participantes que resultaron ganadores del contrato de
                    acuerdo con la evaluación de las propuestas.
                  </p>
                </div>
              </form>
            </div>
          </div>
        </div>

        <!-- Inicia formulario de datos generales de la adjudicación -->
        <div class="tab-content" id="adjudicaciones-tabContent">
          <div
            class="tab-pane fade"
            id="adjudicacion-general"
            role="tabpanel"
            aria-labelledby="adjudicacion-general-tab"
          >
            <div class="form">
              <app-awards-general
                (saveGeneralDataForm)="saveGeneralDataForm($event)"
              ></app-awards-general>
            </div>
          </div>
        </div>

        <!-- Inicia formulario de agregar uno o varios proveedores -->
        <div class="tab-content" id="adjudicaciones-tabContent">
          <div
            class="tab-pane fade"
            id="adjudicacion-proveedores"
            role="tabpanel"
            aria-labelledby="adjudicacion-proveedores-tab"
          >
            <div class="form">
              <app-awards-suppliers
                [suppliersArray]="awardForm.value.suppliers"
                (addSupplier)="addSupplier($event)"
                (deleteSupplier)="deleteSupplier($event)"
              ></app-awards-suppliers>
            </div>
          </div>
        </div>

        <!-- Inicia formulario Items -->
        <div class="tab-content" id="adjudicaciones-tabContent">
          <div
            class="tab-pane fade"
            id="adjudicacion-items"
            role="tabpanel"
            aria-labelledby="adjudicacion-items-tab"
          >
            <div class="form">
              <app-awards-items
                [itemsArray]="awardForm.value.items"
                (addItem)="addItem($event)"
                (deleteItem)="deleteItem($event)"
              ></app-awards-items>
            </div>
          </div>
        </div>

        <!-- Inicia formulario Documentos -->
        <div class="tab-content" id="adjudicaciones-tabContent">
          <div
            class="tab-pane fade"
            id="adjudicacion-documentos"
            role="tabpanel"
            aria-labelledby="adjudicacion-documentos-tab"
          >
            <div class="form h-100">
              <app-awards-documents
                [documentsArray]="awardForm.value.documents"
                (addDocument)="addDocument($event)"
                (deleteDocument)="deleteDocument($event)"
              ></app-awards-documents>
            </div>
          </div>
        </div>

        <!-- Inicia formulario Enmiendas -->
        <div class="tab-content" id="adjudicaciones-tabContent">
          <div
            class="tab-pane fade"
            id="adjudicacion-mofificaciones"
            role="tabpanel"
            aria-labelledby="adjudicacion-mofificaciones-tab"
          >
            <div class="form h-100">
              <app-awards-amendments
                [amendmentsArray]="awardForm.value.amendments"
                (addAmendment)="addAmendment($event)"
                (deleteAmendment)="deleteAmendment($event)"
              ></app-awards-amendments>
            </div>
          </div>
        </div>
        <!-- Mensaje de guardando -->
        <div class="row">
          <div class="col-md-12 text-center mt-5">
            <div *ngIf="isSaving" class="alert alert-info">
              {{ savingMessage }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
