<!-- <span>
  {{ element.errors | json }}
</span> -->
<div *ngIf="element?.touched && element?.invalid">
  <small *ngIf="element?.errors?.['required']" class="text-danger">
    Este campo es obligatorio.
  </small>
  <small *ngIf="element?.errors?.['maxlength']" class="text-danger">
    Se supero el maximo de caracteres posibles.
  </small>
  <small *ngIf="element?.errors?.['min']" class="text-danger">
    Este campo es obligatorio.
  </small>
  <small *ngIf="element?.errors?.['dateInvalid']" class="text-danger">
    La fecha de término debe ser mayor a la fecha de inicio.
  </small>
  <small *ngIf="element?.errors?.['maxDateInvalid']" class="text-danger">
    La fecha máxima de extensión debe ser mayor a la fecha de término.
  </small>
  <small *ngIf="element?.errors?.['dateModifiedInvalid']" class="text-danger">
    La fecha de modificación no puede ser anterior a la fecha de publicación.
  </small>
  <small *ngIf="element?.errors?.['pattern']" class="text-danger">
    Introduzca una dirección de internet válida.
  </small>
  <br />
  <small class="text-danger">
    {{ message }}
  </small>
</div>
