<div class="form">
  <div class="row">
    <h3>Presupuesto</h3>
    <hr />
  </div>
  <form [formGroup]="budgetForm" class="mb-5">
    <div class="row">
      <div class="col-md-4 form-floating mb-3">
        <input
          type="text"
          class="form-control"
          id="ProjectId"
          placeholder="ProjectId"
          formControlName="projectID"
        />
        <label for="ProjectId">Identificador de proyecto</label>
      </div>

      <div class="col-md-8 form-floating mb-3">
        <input
          type="text"
          class="form-control"
          id="Project"
          placeholder="Project"
          formControlName="project"
        />
        <label for="Project">Título del proyecto</label>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 form-floating mb-3">
        <input
          type="text"
          class="form-control"
          id="Description"
          placeholder="Description"
          formControlName="description"
        />
        <label for="Description">Fuente presupuestaria</label>
      </div>

      <div class="col-md-12 form-floating mb-3">
        <input
          type="text"
          class="form-control"
          id="URI"
          placeholder="URI"
          formControlName="uri"
        />
        <label for="URI">Información Presupuestaria vinculada</label>
      </div>
    </div>

    <fieldset class="border p-3 mb-3">
      <legend>Valor reservado del presupuesto</legend>
      <div class="col-12" formGroupName="value">
        <div class="row">
          <div class="form-floating col-2 mb-2">
            <input
              class="form-control"
              id="amount"
              type="text"
              data-sb-validations="required"
              placeholder="Monto*"
              formControlName="amount"
            />
            <label for="amount">Monto*</label>
            <div class="invalid-feedback" data-sb-feedback="amount:required">
              Monto * es requerido.
            </div>
          </div>

          <div class="form-floating col-4 mb-2">
            <select class="form-select" formControlName="currency">
              <option *ngFor="let d of currency" [ngValue]="d.code">
                {{ d.title }}
              </option>
            </select>
            <label for="type">Moneda</label>
          </div>
        </div>
      </div>
    </fieldset>

    <app-planning-budget-budget-breakdown
      [budgetBreakdownArray]="budgetForm.value.budgetBreakdown"
      (addBudgetBreakdown)="addBudgetBreakdown($event)"
      (deleteBudgetBreakdown)="deleteBudgetBreakdown($event)"
    ></app-planning-budget-budget-breakdown>
  </form>
</div>
