<div class="form">
  <div class="row">
    <h3>Presupuesto</h3>
    <p>
      Detalles sobre el presupuesto que financia este proceso de contratación.
      Esta sección contiene información sobre las líneas o claves
      presupuestarias y proyectos asociados, a través de los cuales se financia
      este proceso de contratación.
    </p>
    <hr />
  </div>
  <form [formGroup]="budgetForm" class="mb-5">
    <div class="row">
      <div class="col-md-12 mb-2">
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            id="ProjectId"
            placeholder="ProjectId"
            formControlName="projectID"
          />
          <label for="ProjectId">Identificador de proyecto *</label>
        </div>
        <div class="form-text">
          Número asignado por Compranet/Plataforma, al registrar la Contratación
          Pública
        </div>
      </div>

      <div class="col-md-12 mb-2">
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            id="Project"
            placeholder="Project"
            formControlName="project"
          />
          <label for="Project">Título del proyecto *</label>
          <app-input-validation [element]="project"></app-input-validation>
        </div>
        <div class="form-text">
          Nombre del proyecto de la contratación pública, el cual, puede ser
          tomado del anexo técnico emitido por el Área requirente.
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 form-floating mb-2">
        <input
          type="text"
          class="form-control"
          id="Description"
          placeholder="Description"
          formControlName="description"
        />
        <label for="Description">Fuente del Presupuesto *</label>
        <app-input-validation [element]="description"></app-input-validation>
      </div>
      <div class="form-text">
        Un texto descriptivo breve de la fuente del presupuesto. Puede usarse
        para proveer el título del la partida presupuestaria o el programa usado
        para financiar este proyecto.
      </div>

      <div class="col-md-12 form-floating mb-2">
        <input
          type="text"
          class="form-control"
          id="URI"
          placeholder="URI"
          formControlName="uri"
        />
        <label for="URI">Información vinculada de presupuesto *</label>
        <app-input-validation [element]="uri"></app-input-validation>
      </div>
      <div class="form-text">
        Una URI que apunta a un registro leíble por máquina sobre la línea (o
        líneas) de presupuesto que financian este proceso de contrataciones. Se
        puede dar información en un rango de formatos, incluyendo IATI, el
        Estándar de Datos Fiscales Abiertos o cualquier otro estándar que dé
        datos estructurados sobre fuentes de presupuesto.
      </div>
    </div>

    <fieldset class="border p-3 mb-3">
      <legend>Valor reservado del presupuesto *</legend>
      <p>
        Monto del presupuesto aprobado para este proceso de contratación
        pública, este dato puede tormarse de la orden de servicio donde se
        solicita la autorización de la Suficiencia Presupuestal para el
        proyecto.
      </p>
      <div class="col-12" formGroupName="value">
        <div class="row">
          <div class="col-md-6 mb-2">
            <div class="form-floating">
              <input
                class="form-control"
                id="amount"
                type="number"
                data-sb-validations="required"
                placeholder="Monto*"
                formControlName="amount"
              />
              <label for="amount">Monto *</label>
              <app-input-validation [element]="amount"></app-input-validation>
              <div class="invalid-feedback" data-sb-feedback="amount:required">
                Monto * es requerido.
              </div>
            </div>
            <div class="form-text">Monto como una cifra.</div>
          </div>

          <div class="col-md-6 mb-2">
            <div class="form-floating">
              <select
                class="form-select"
                id="currency"
                formControlName="currency"
              >
                <option *ngFor="let d of currency" [ngValue]="d.code">
                  {{ d.title }}
                </option>
              </select>
              <label for="currency">Moneda</label>
            </div>
            <div class="form-text">
              La moneda del monto, de la lista de código cerrada
              <a
                href="https://standard.open-contracting.org/1.1/es/schema/codelists/#currency"
                >'Moneda'</a
              >
            </div>
          </div>
        </div>
      </div>
    </fieldset>

    <app-planning-budget-budget-breakdown
      [budgetBreakdownArray]="budgetForm.value.budgetBreakdown"
      (addBudgetBreakdown)="addBudgetBreakdown($event)"
      (confirmAndDeleteBudgetBreakdown)="
        confirmAndDeleteBudgetBreakdown($event)
      "
    ></app-planning-budget-budget-breakdown>
  </form>
</div>
