<div class="container">
  <div class="row">
    <div class="col">
      <h3>Beneficiarios finales o controladores</h3>
      <hr />
      <p>
        Receptor del pago: Es una persona física o moral la cual recibe un pago
        económico derivado de un contrato (transacción).
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="table-responsive">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Nombre</th>
              <th scope="col">Identificador</th>
              <th scope="col">Nacionalidades</th>
              <th scope="col">Correo electrónico</th>
              <th scope="col">Numero de Fax</th>
              <th scope="col">Teléfono</th>
              <th scope="col">Dirección</th>
              <th scope="col">opciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of beneficialOwnersArray; index as i">
              <td scope="row">{{ i + 1 }}</td>
              <td>{{ item.name }}</td>
              <td>{{ item.identifier.scheme }}-{{ item.identifier.id }}</td>
              <td>{{ item.nationalities }}</td>
              <td>{{ item.email }}</td>
              <td>{{ item.faxNumber }}</td>
              <td>{{ item.telephone }}</td>
              <td>
                <ul>
                  <li>Calle: {{ item.address.streetAddress }}</li>
                  <li>Localidad: {{ item.address.locality }}</li>
                  <li>Region: {{ item.address.region }}</li>
                  <li>Codigo Postal: {{ item.address.postalCode }}</li>
                  <li>Pais: {{ item.address.countryName }}</li>
                </ul>
              </td>
              <td>
                <button
                  type="button"
                  class="btn btn-danger btn-delete"
                  (click)="deleteBeneficialOwners.emit(i)"
                >
                  Eliminar
                </button>
              </td>
            </tr>
            <tr *ngIf="beneficialOwnersArray.length === 0">
              <th scope="row" colspan="12" class="text-center">
                Sin registros.
              </th>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <hr />

  <form [formGroup]="beneficialOwnersForm">
    <fieldset class="border p-3 mb-3" formGroupName="identifier">
      <legend class="w-auto px-1">
        Identificador fiscal o tributario del beneficiario final o controlador
      </legend>
      <div class="row">
        <div class="form-floating col-6 mb-3">
          <input
            class="form-control"
            id="scheme"
            type="text"
            data-sb-validations="required"
            placeholder="Esquema*"
            formControlName="scheme"
          />
          <label for="scheme"
            >Esquema del identificador fiscal o tributario del beneficiario
            final o controlador *</label
          >
          <div class="form-text">Tipo de documento de identificación.</div>
          <app-input-validation [element]="schema"></app-input-validation>
        </div>

        <div class="form-floating col-6 mb-3">
          <input
            class="form-control"
            id="id"
            type="text"
            data-sb-validations="required"
            placeholder="RFC*"
            formControlName="id"
          />
          <label for="id">RFC *</label>
          <div class="form-text">
            El identificador fiscal o tributario del beneficiario final o
            controlador.
          </div>
          <app-input-validation [element]="id"></app-input-validation>
        </div>
      </div>
    </fieldset>

    <div class="row">
      <div class="form-floating col mb-3">
        <input
          class="form-control"
          id="name"
          type="text"
          data-sb-validations="required"
          placeholder="Nombre*"
          formControlName="name"
        />
        <label for="name">Nombre *</label>
        <div class="form-text">El nombre completo del beneficiario final.</div>
        <app-input-validation [element]="name"></app-input-validation>
      </div>
    </div>

    <div formArrayName="nationalities" class="row mb-3">
      <div
        *ngFor="let nationalityCtrl of nationalities.controls; let i = index"
        class="col-12 mb-2 d-flex align-items-center"
      >
        <div class="form-floating flex-grow-1 me-2">
          <select
            class="form-select"
            [formControlName]="i"
            [id]="'nationality-' + i"
            (change)="validateNationalitySelection($event, i)"
          >
            <option value="" disabled>
              Seleccione el país de la nacionalidad *
            </option>
            <option *ngFor="let country of countries" [value]="country.code">
              {{ country.name }}
            </option>
          </select>
          <div class="form-text">
            Nacionalidad o nacionalidades del beneficiario final.
          </div>
          <app-input-validation
            message="La nacionalidad es requerida."
          ></app-input-validation>
          <label [for]="'nationality-' + i">Nacionalidad {{ i + 1 }}</label>
        </div>
        <button
          type="button"
          class="btn btn-outline-danger"
          (click)="removeNationality(i)"
          [disabled]="nationalities.length === 1"
          title="Eliminar"
        >
          &times;
        </button>
      </div>

      <div class="col-12">
        <button
          type="button"
          class="btn btn-outline-primary"
          (click)="addNationality()"
        >
          + Agregar otra nacionalidad
        </button>
      </div>
    </div>

    <div class="row">
      <div class="form-floating col mb-3">
        <input
          class="form-control"
          id="email"
          type="text"
          data-sb-validations="required"
          placeholder="Correo electrónico*"
          formControlName="email"
        />
        <label for="email">Correo electrónico *</label>
        <div class="form-text">
          Dirección de correo electrónico válida para contacto
        </div>
        <app-input-validation [element]="email"></app-input-validation>
      </div>
    </div>

    <div class="row">
      <div class="form-floating col mb-3">
        <input
          class="form-control"
          id="telephone"
          type="text"
          data-sb-validations="required"
          placeholder="Teléfono*"
          formControlName="telephone"
        />
        <label for="telephone">Teléfono</label>
        <div class="form-text">
          Número telefónico con código de área (ej: 55-1234-5678)
        </div>
        <app-input-validation [element]="telephone"></app-input-validation>
      </div>
    </div>

    <div class="row">
      <div class="form-floating col mb-3">
        <input
          class="form-control"
          id="faxNumber"
          type="text"
          data-sb-validations="required"
          placeholder="Número de fax*"
          formControlName="faxNumber"
        />
        <label for="faxNumber">Número de fax</label>
        <div class="form-text">
          Número de fax (opcional, incluir código de área)
        </div>
        <app-input-validation [element]="faxNumber"></app-input-validation>
      </div>
    </div>
    <fieldset class="border p-3 mb-3" formGroupName="address">
      <legend class="w-auto px-1">Domicilio</legend>
      <p>
        Esta sección corresponde al domicilio del beneficiario final o
        controlador
      </p>
      <div class="row">
        <div class="form-floating col mb-3">
          <input
            class="form-control"
            id="streetAddress"
            type="text"
            data-sb-validations="required"
            placeholder="Calle y número*"
            formControlName="streetAddress"
          />
          <label for="streetAddress">Calle y número *</label>
          <div class="form-text">
            Calle y número del domicilio del beneficiario final o controlador.
          </div>
          <app-input-validation
            [element]="streetAddress"
          ></app-input-validation>
        </div>
      </div>

      <div class="row">
        <div class="form-floating col mb-3">
          <input
            class="form-control"
            id="locality"
            type="text"
            data-sb-validations="required"
            placeholder="Localidad*"
            formControlName="locality"
          />
          <label for="locality">Localidad *</label>
          <div class="form-text">
            Nombre de la ciudad o municipio donde reside.
          </div>
          <app-input-validation [element]="locality"></app-input-validation>
        </div>
      </div>

      <div class="row">
        <div class="form-floating col mb-3">
          <input
            class="form-control"
            id="region"
            type="text"
            data-sb-validations="required"
            placeholder="Región*"
            formControlName="region"
          />
          <label for="region">Región *</label>
          <div class="form-text">
            Estado de la República Mexicana (ej: Ciudad de México, Jalisco,
            Nuevo León).
          </div>
          <app-input-validation [element]="region"></app-input-validation>
        </div>
      </div>

      <div class="row">
        <div class="form-floating col mb-3">
          <input
            class="form-control"
            id="postalCode"
            type="text"
            data-sb-validations="required"
            placeholder="Código postal*"
            formControlName="postalCode"
          />
          <label for="postalCode">Código postal *</label>
          <div class="form-text">
            El código postal correspondiente a este domicilio.
          </div>
          <app-input-validation [element]="postalCode"></app-input-validation>
        </div>
      </div>

      <div class="row">
        <div class="form-floating col mb-3">
          <input
            class="form-control"
            id="countryName"
            type="text"
            data-sb-validations="required"
            placeholder="País*"
            formControlName="countryName"
          />
          <label for="countryName">País *</label>
          <div class="form-text">Nombre del país del domicilio.</div>
          <app-input-validation [element]="countryName"></app-input-validation>
        </div>
      </div>
    </fieldset>

    <div class="row">
      <div class="col">
        <button
          type="button"
          class="btn btn-danger btn-add"
          (click)="addNewBeneficialOwners()"
        >
          Agregar beneficiario
        </button>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-12 spin">
        <div *ngIf="mostrarSpinner" class="spinner-container">
          <div class="spinner-border" role="status">
            <span class="visually-hidden">Guardando...</span>
          </div>
          <p class="mt-2">Guardando...</p>
        </div>
      </div>
    </div>
    <!-- fin -->
  </form>
</div>
