<div class="content">
  <div class="container">
    <div class="row">
      <div class="col">
        <h3>Información general</h3>
        <hr />
      </div>
    </div>
    <form [formGroup]="contractForm">
      <div class="row">
        <!-- <div class="form-floating col mb-3">
          <input
            class="form-control"
            id="id"
            type="text"
            data-sb-validations="required"
            placeholder="Identificador del contrato*"
            formControlName="id"
            readonly
          />
          <label for="id">Identificador del contrato*</label>
          <div class="invalid-feedback" data-sb-feedback="id:required">
            Identificador del contrato * es requerido.
          </div>
        </div> -->
        <div class="form-floating col mb-3">
          <input
            class="form-control"
            id="contractId"
            type="text"
            placeholder="Número del contrato*"
            formControlName="contractId"
          />
          <label for="contractId">Número del contrato *</label>
          <app-input-validation [element]="contractId"></app-input-validation>
          <div class="form-text">
            El número para este contrato. Debe ser único y no debe
            cambiar en el Proceso de Contrataciones Abiertas del cual es parte
            (definido por un ocid único). Vea la guía de identificadores para
            más detalles.
          </div>
        </div>
        <div class="form-floating col mb-3">
          <select
            class="form-select"
            id="awardID"
            formControlName="awardID"
            aria-label="Default select example"
          >
            <option *ngFor="let id of awardIds" [value]="id">{{ id }}</option>
          </select>
          <label for="awardID">Identificador de la adjudicación *</label>
          <app-input-validation [element]="awardID"></app-input-validation>
          <div class="form-text">
            Identificador de la adjudicación en la cual se expide este contrato.
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-floating col mb-3">
          <input
            class="form-control"
            id="title"
            type="text"
            placeholder="Título del contrato *"
            formControlName="title"
          />
          <label for="title">Título del contrato *</label>
          <app-input-validation [element]="title"></app-input-validation>
          <div class="form-text">Título del contrato</div>
        </div>
      </div>

      <div class="row">
        <div class="form-floating col-12 mb-3">
          <textarea
            class="form-control"
            id="description"
            type="text"
            placeholder="Descripción*"
            style="height: 150px"
            formControlName="description"
          ></textarea>
          <label for="description">Descripción *</label>
          <app-input-validation [element]="description"></app-input-validation>
          <div class="form-text">Descripción del contrato.</div>
        </div>
      </div>

      <div class="row">
        <div class="form-floating col mb-0">
          <select class="form-select" formControlName="status">
            <option *ngFor="let d of contractStatus" [ngValue]="d.code">
              {{ d.title }}
            </option>
          </select>
          <label for="status"> Estatus *</label>
          <app-input-validation [element]="status"></app-input-validation>
          <p>
            {{ getContractStatusDesc(contractForm.value.status) }}
          </p>
        </div>
        <div class="form-text">
          El estatus actual del contrato, de la lista de código cerrada
          <a
            href="https://standard.open-contracting.org/1.1/es/schema/codelists/#contract-status"
            target="_blank"
            >contractStatus</a
          >.
        </div>
      </div>

      <fieldset class="border p-3 mb-3" formGroupName="period">
        <legend class="w-auto px-1">Periodo del contrato *</legend>
        <p>Las fechas de inicio y fin del contrato.</p>
        <p>
          Los eventos clave durante un proceso de contratación pueden tener una
          fecha de inicio, una fecha de finalización, una duración o un alcance
          máximo conocidos (la última fecha a la que se puede extender el
          período). En algunos casos, no todos estos campos tendrán valores
          conocidos o relevantes.
        </p>
        <hr />
        <div class="row">
          <div class="form-floating col-6 mb-3">
            <input
              class="form-control"
              id="startDate"
              type="date"
              formControlName="startDate"
            />
            <label for="startDate">Fecha de inicio *</label>
            <app-input-validation
              [element]="getControl('startDate')"
            ></app-input-validation>
            <div class="form-text">
              La fecha de inicio del período. Cuando se sabe, se debe dar una
              fecha de inicio precisa.
            </div>
          </div>
          <div class="form-floating col-6 mb-3">
            <input
              class="form-control"
              id="endDate"
              type="date"
              formControlName="endDate"
            />
            <label for="endDate">Fecha de término *</label>
            <app-input-validation
              [element]="getControl('endDate')"
            ></app-input-validation>
            <div class="form-text">
              La fecha de conclusión del período. Cuando se sabe, se debe dar
              una fecha de conclusión precisa.
            </div>
          </div>
        </div>

        <div class="row">
          <div class="form-floating col-6 mb-3">
            <input
              class="form-control"
              id="maxExtentDate"
              type="date"
              data-sb-validations="required"
              formControlName="maxExtentDate"
            />
            <label for="maxExtentDate">Extension máxima</label>
            <!-- <app-input-validation
              [element]="getControl('maxExtentDate')"
            ></app-input-validation> -->
            <div class="form-text">
              El período no puede extenderse después de esta fecha. Este campo
              debe usarse para expresar la fecha máxima disponible para la
              extensión o renovación de este período.
            </div>
          </div>
          <div class="form-floating col-6 mb-3">
            <input
              class="form-control"
              id="durationInDays"
              type="number"
              data-sb-validations="required"
              placeholder="Duración (días)*"
              formControlName="durationInDays"
            />
            <label for="durationInDays">Duración (dias)</label>
            <div class="form-text">
              El nivel máximo de duración de este período en días.
            </div>
          </div>
        </div>
      </fieldset>

      <fieldset class="border p-3 mb-3">
        <legend class="w-auto px-1">Valor del contrato *</legend>
        <p>Un valor o monto total de este contrato</p>
        <hr />
        <div class="row" formGroupName="value">
          <div class="form-floating col-4 mb-3">
            <input
              class="form-control"
              id="amount"
              type="text"
              data-sb-validations="required"
              placeholder="Monto*"
              formControlName="amount"
            />
            <label for="amount">Monto *</label>
            <app-input-validation [element]="amount"></app-input-validation>
            <div class="form-text">Monto como número.</div>
          </div>

          <div class="form-floating col-4 mb-3">
            <input
              class="form-control"
              id="netAmount"
              type="text"
              data-sb-validations="required"
              placeholder="Monto sin impuestos*"
              formControlName="netAmount"
            />
            <label for="netAmount">Monto sin impuestos</label>
            <!-- <app-input-validation [element]="netAmount"></app-input-validation> -->
            <div class="form-text">Monto sin impuestos.</div>
          </div>

          <div class="form-floating col-4 mb-3">
            <select class="form-select" formControlName="currency">
              <option *ngFor="let d of currency" [ngValue]="d.code">
                {{ d.title }}
              </option>
            </select>
            <label for="type">Moneda *</label>
            <div class="form-text">
              La moneda del monto, tomado de la lista de códigos
              <a
                href="https://standard.open-contracting.org/1.1/es/schema/codelists/#currency"
                target="_blank"
                >'Moneda'</a
              >.
            </div>
          </div>
        </div>
          <div class="row" *ngIf="isForeignCurrencySelected()">

          <div class="col">
            <div class="table-responsive">
              <table class="table table-hover table-striped">
                <thead>
                  <tr>
                    <th scope="col">Tasa de conversión</th>
                    <th scope="col">Moneda</th>
                    <th scope="col">Fecha de la tasa</th>
                    <th scope="col">Fuente de la tasa</th>
                    <th scope="col">Opciones</th>
                  </tr>
                  <tr [formGroup]="exchangeForm">
                    <th>
                      <input
                        class="form-control"
                        id="rate"
                        type="text"
                        data-sb-validations="required"
                        formControlName="rate"
                      />
                    </th>
                    <th>
                      <select class="form-select" formControlName="currency">
                        <option *ngFor="let d of currency" [ngValue]="d.code">
                          {{ d.title }}
                        </option>
                      </select>
                    </th>
                    <th>
                      <input
                        class="form-control"
                        id="date"
                        type="date"
                        data-sb-validations="required"
                        formControlName="date"
                      />
                    </th>
                    <th>
                      <input
                        class="form-control"
                        id="source"
                        type="text"
                        data-sb-validations="required"
                        formControlName="source"
                      />
                    </th>
                    <th>
                      <button
                        type="button"
                        class="btn btn-danger btn-add"
                        (click)="addExchangeRates()"
                      >
                        Agregar
                      </button>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    *ngFor="
                      let item of contractForm.value.value.exchangeRates;
                      index as i
                    "
                  >
                    <td>
                      {{ item.rate }}
                    </td>
                    <td>
                      {{ item.currency }}
                    </td>
                    <td>
                      {{ item.date }}
                    </td>
                    <td>{{ item.source }}</td>
                    <td>
                      <button
                        type="button"
                        class="btn btn-danger btn-remove"
                        (click)="deleteExchangeRates(i)"
                      >
                        Eliminar
                      </button>
                    </td>
                  </tr>
                  <tr
                    *ngIf="contractForm.value.value.exchangeRates.length === 0"
                  >
                    <th scope="row" colspan="5" class="text-center">
                      Sin registros.
                    </th>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </fieldset>
      <fieldset class="border p-3 mb-3">
        <div class="row">
          <div class="form-floating col-4 mb-3">
            <input
              class="form-control"
              id="dateSigned"
              type="date"
              data-sb-validations="required"
              formControlName="dateSigned"
            />
            <label for="dateSigned">Fecha de firma *</label>
            <app-input-validation [element]="dateSigned"></app-input-validation>
            <div class="form-text">
              La fecha en la que se firmó el contrato. En el caso de múltiples
              firmas, la fecha de la última firma.
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="table-responsive">
              <table class="table table-hover table-striped">
                <thead>
                  <tr>
                    <th>Mecanismos de vigilancia</th>
                    <th style="width: 100px">Opciones</th>
                  </tr>
                  <tr>
                    <th>
                      <div class="d-flex align-items-start">
                        <div class="flex-grow-1">
                          <div class="form-floating">
                            <select
                              class="form-select"
                              [formControl]="surveillanceMechanismsControl"
                            >
                              <option value="">Seleccione una opción</option>
                              <option
                                *ngFor="let d of surveillanceMechanismsType"
                                [value]="d.code"
                              >
                                {{ d.title }}
                              </option>
                            </select>
                          </div>
                          <div *ngIf="selectedMechanism" class="mt-2">
                            <p>
                              {{ selectedMechanism.description }}
                            </p>
                          </div>
                        </div>
                      </div>
                    </th>
                    <th class="align-top">
                      <button
                        type="button"
                        class="btn btn-danger"
                        (click)="addSurveillanceMechanisms()"
                      >
                        Agregar
                      </button>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    *ngFor="
                      let item of surveillanceMechanismsArray.controls;
                      let i = index
                    "
                  >
                    <td>{{ getMechanismTitle(item.value) }}</td>
                    <td>
                      <button
                        type="button"
                        class="btn btn-danger"
                        (click)="deleteSurveillanceMechanisms(i)"
                      >
                        Eliminar
                      </button>
                    </td>
                  </tr>
                  <tr *ngIf="surveillanceMechanismsArray.controls.length === 0">
                    <th scope="row" colspan="5" class="text-center">
                      Sin registros.
                    </th>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </fieldset>

    <!-- checkbox para gestionar procesos relaccionados vss -->
    <div class="row mb-3">
      <div class="form-check col">
        <input
          type="checkbox"
          id="hasRelatedProcesses"
          class="form-check-input"
          formControlName="hasRelatedProcesses"
        />
        <label class="form-check-label" for="hasRelatedProcesses">
          ¿Existen procesos relacionados?
        </label>
      </div>
    </div>

    <!-- sección condicional de procesos relacionados vss -->
    <fieldset
      class="border p-3 mb-3"
      *ngIf="showRelatedProcessesSection()"
      [formGroup]="relatedProcessesForm"
    >
        <legend>Procesos relacionados</legend>
        <p>
          Los detalles de procesos relacionados, por ejemplo, si el proceso es
          seguido por uno o más procesos de contrataciones, representados bajo
          diferentes identificadores de contrataciones abiertas (ocid). Esto se
          utiliza normalmente para referir a subcontratos o renovaciones y
          reemplazos de este contrato.
        </p>
        <hr />
        <div class="row">
          <div class="col">
            <div class="table-responsive">
              <table class="table table-striped table-hover">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Relación</th>
                    <th scope="col">Titulo del proceso relacionado</th>
                    <th scope="col">Esquema</th>
                    <th scope="col">Identificador</th>
                    <th scope="col">URI</th>
                    <th scope="col">Opciones</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    *ngFor="
                      let item of contractForm.value.relatedProcesses;
                      index as i
                    "
                  >
                    <td scope="row">
                      {{ item.id || i + 1 }}
                    </td>
                    <td>
                      <ul *ngFor="let relation of item.relationship">
                        <li>{{ relation }}</li>
                      </ul>
                    </td>
                    <td>{{ item.title }}</td>
                    <td>{{ item.scheme }}</td>
                    <td>{{ item.identifier }}</td>
                    <td>{{ item.uri }}</td>
                    <td>
                      <button
                        type="button"
                        class="btn btn-danger btn-delete"
                        (click)="confirmAndDeleteRelatedProcesses(i)"
                      >
                        Eliminar
                      </button>
                    </td>
                  </tr>
                  <tr *ngIf="contractForm.value.relatedProcesses.length === 0">
                    <th scope="row" colspan="7" class="text-center">
                      Sin registros.
                    </th>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <div class="table-responsive">
              <table class="table table-striped table-hover">
                <thead>
                  <tr>
                    <th>Relación</th>
                    <th style="width: 100px">Opciones</th>
                  </tr>
                  <tr>
                    <th>
                      <div class="d-flex align-items-start">
                        <div class="flex-grow-1">
                          <div class="form-floating">
                            <select
                              class="form-select"
                              [formControl]="relatedProcessControl"
                            >
                              <option value="">Seleccione una opción</option>
                              <option
                                *ngFor="let d of relatedProcesses"
                                [value]="d.code"
                              >
                                {{ d.title }}
                              </option>
                            </select>
                          </div>
                          <div *ngIf="selectedRelatedProcess" class="mt-2">
                            <p>
                              {{ selectedRelatedProcess.description }}
                            </p>
                          </div>
                        </div>
                      </div>
                    </th>
                    <th class="align-top">
                      <button
                        type="button"
                        class="btn btn-danger"
                        (click)="addRelationship()"
                      >
                        Agregar
                      </button>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    *ngFor="
                      let item of relationshipArray.controls;
                      let i = index
                    "
                  >
                    <td>{{ getRelatedProcessTitle(item.value) }}</td>
                    <td>
                      <button
                        type="button"
                        class="btn btn-danger"
                        (click)="deleteRelationship(i)"
                      >
                        Eliminar
                      </button>
                    </td>
                  </tr>
                  <tr *ngIf="relationshipArray.controls.length === 0">
                    <td colspan="2" class="text-center">Sin registros.</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="form-floating col mb-3">
            <input
              class="form-control"
              id="title"
              type="text"
              data-sb-validations="required"
              placeholder="title*"
              formControlName="title"
            />
            <label for="title">Título del proceso relacionado</label>
            <div class="form-text">
              El título del proceso relacionado, cuando se hace referencia a un
              proceso de contratación abierta, este debe de ser el mismo que el
              campo de tender/title en el proceso relacionado.
            </div>
          </div>

          <div class="form-floating col mb-3">
            <select
              class="form-select"
              id="scheme"
              data-sb-validations="required"
              formControlName="scheme"
            >
              <option value="">Seleccione un esquema</option>
              <option value="ocid">Open Contracting ID (OCID)</option>
            </select>
            <label for="scheme">Esquema de identificaión</label>

            <div class="form-text">
              El esquema de identificación usado por esta referencia de la lista
              de códigos de proceso relacionado. Cuando se referencia
              información también publicada usando OCDS, se debe usar un Open
              Contracting ID (ocid).
            </div>
          </div>
        </div>

        <div class="row">
          <div class="form-floating col mb-3">
            <input
              class="form-control"
              id="identifier"
              type="text"
              data-sb-validations="required"
              placeholder="Identificador*"
              formControlName="identifier"
            />
            <label for="identifier"
              >Identificador del proceso relacionado</label
            >

            <div class="form-text">
              El identificador del proceso relacionado. Cuando se refiere a
              información que también se publica usando OCDS, este debe ser el
              Open Contracting ID (ocid).
            </div>
          </div>

          <div class="form-floating col mb-3">
            <input
              class="form-control"
              id="uri"
              type="text"
              data-sb-validations="required"
              placeholder="URI*"
              formControlName="uri"
            />
            <label for="uri">URI del procedimiento relacionado</label>
            <div class="form-text">
              Una URI que apunta a un documento legible por máquinas, liberación
              o paquete de registro que contenga el proceso relacionado
              identificado.
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <button
              type="button"
              class="btn btn-danger btn-add"
              (click)="addRelatedProcesses()"
            >
              Agregar proceso relacionado
            </button>
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col-12 spin">
            <div *ngIf="mostrarSpinner" class="spinner-container">
              <div class="spinner-border" role="status">
                <span class="visually-hidden">Guardando...</span>
              </div>
              <p class="mt-2">Guardando...</p>
            </div>
          </div>
        </div>
      </fieldset>

      <!-- fin form -->
    </form>
  </div>
</div>
