<div class="container">
  <div class="row">
    <div class="col">
      <h3>Documentos</h3>
      <hr />
    </div>
  </div>
  <form class="mb-5" method="post" id="AwardsDocumentsForm" name="AwardsDocumentsForm" [formGroup]="documentsForm"
    (ngSubmit)="onSubmitDocuments()">
    <div class="row">
      <div class="form-floating col-md-4 mb5">
        <input class="form-control" id="AwardsDocumentsId" type="text" placeholder="Idenficador del Documento"
          formControlName="id" />
        <label for="AwardsDocumentsId">Identificador del Documento</label>
      </div>
      <div class="form-floating col-md-4 mb-5">
        <select class="form-select" id="AwardsDocumentsType" aria-label="scheme" formControlName="documentType">
          <option value="default">Seleccione una opción</option>
          <option value="awardNotice">Aviso de adjudicación</option>
          <option value="contractDraft">
            Borrador de contrato
          </option>
          <option value="contractArrangements">
            Arreglos para finalizar un contrato
          </option>
          <option value="contractSchedule">
            Calendario del contrato
          </option>
          <option value="winningBid">Oferta ganadora</option>
          <option value="complaints">Quejas y decisiones</option>
          <option value="conflictOfInterest">
            Conflicto de interés
          </option>
          <option value="submissionDocuments">
            Documentos de presentación de oferta
          </option>
          <option value="cancellationDetails">
            Detalles de cancelación
          </option>
        </select>
        <label for="AwardsDocumentsType">Tipo de Documento</label>
      </div>
      <div class="form-floating col-md-4 mb-5">
        <input class="form-control" id="AwardsDocumentsTitle" type="text" placeholder="Título del documento"
          formControlName="title" />
        <label for="AwardsDocumentsTitle">Título del Documento</label>
      </div>
    </div>
    <div class="row">
      <div class="form-floating col-md-4 mb-5">
        <input class="form-control" id="AwardsDocumentsDescription" type="text" placeholder="Descripción del documento"
          formControlName="description" />
        <label for="AwardsDocumentsDescription">Descripción del Documento</label>
      </div>
      <div class="form-floating col-md-4 mb-5">
        <input class="form-control" id="AwardsDocumentsUrl" type="text" placeholder="Url del documento"
          formControlName="url" />
        <label for="AwardsDocumentsUrl">URL</label>
      </div>
      <div class="form-floating col-md-4 mb-5">
        <input class="form-control" id="AwardsDocumentsDatePublished" type="date"
          placeholder="Fecha de publicación del documento" formControlName="datePublished" />
        <label for="AwardsDocumentsDatePublished">Fecha de publicación</label>
      </div>
    </div>
    <div class="row">
      <div class="form-floating col-md-4 mb-5">
        <input class="form-control" id="AwardsDocumentsDateModified" type="date"
          placeholder="Fecha de modificación del documento" formControlName="dateModified" />
        <label for="AwardsDocumentsDateModified">Fecha de modificación</label>
      </div>
      <div class="form-floating col-md-4 mb-5">
        <input class="form-control" id="AwardsDocumentsFormat" type="text" placeholder="Formato del documento"
          formControlName="format" />
        <label for="AwardsDocumentsFormat">Formato del Documento</label>
      </div>
      <div class="form-floating col-md-4 mb-5">
        <select class="form-select" id="AwardsDocumentslanguage" aria-label="scheme" formControlName="language">
          <option value="default">Elige un idioma</option>
          <option *ngFor="let d of language" [ngValue]="d">
            {{ d.name }}
          </option>
        </select>
        <label for="AwardsDocumentslanguage">Idioma del Documento</label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 form-group d-flex justify-content-between">
        <input type="submit" value="guardar" class="btn btn-primary rounded-0 py-2 px-4" />
        <span class="Guardar"></span>
      </div>
    </div>
  </form>
</div>