<div class="content">
  <div class="container">
    <div class="row mt-3">
      <div class="col">
        <!-- mensaje de hitos -->
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="table-responsive-sm">
          <table class="table table-hover table-striped mb-10">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Titulo</th>
                <th scope="col">Tipo</th>
                <th scope="col">Descripción</th>
                <th scope="col">Codigo</th>
                <th scope="col">Fecha de vencimiento</th>
                <th scope="col">Fecha de cumplimiento</th>
                <th scope="col">Fecha de modificación</th>
                <th scope="col">Estatus</th>

                <th scope="col">Opciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let ele of milestonesArray; index as i">
                <th scope="row">{{ ele.id || i + 1 }}</th>
                <td>{{ ele.title }}</td>
                <td>{{ getMilestoneTypeDesc(ele.type) }}</td>
                <td>{{ ele.description }}</td>
                <td>{{ ele.code }}</td>
                <td>{{ ele.dueDate }}</td>
                <td>{{ ele.dateMet }}</td>
                <td>{{ ele.dateModified }}</td>
                <td>{{ getMilestoneStatusDesc(ele.status) }}</td>
                <td>
                  <button
                    type="button"
                    class="btn btn-danger btn-delete"
                    (click)="deleteMilestone.emit(i)"
                  >
                    Eliminar
                  </button>
                </td>
              </tr>
              <tr *ngIf="milestonesArray.length === 0">
                <th scope="row" colspan="10" class="text-center">
                  Sin registros.
                </th>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <form [formGroup]="milestoneForm">
      <div class="row">
        <div class="form-floating col mb-3">
          <input
            class="form-control"
            id="title"
            type="text"
            data-sb-validations="required"
            placeholder="URL*"
            formControlName="title"
          />
          <label for="title">Titulo*</label>
          <div class="invalid-feedback" data-sb-feedback="title:required">
            Titulo * es requerido.
          </div>
          <div class="form-text">Título del hito.</div>
        </div>
      </div>

      <div class="row">
        <div class="form-floating col mb-3">
          <select class="form-select" formControlName="type">
            <option *ngFor="let d of milestoneType" [ngValue]="d.code">
              {{ d.title }}
            </option>
          </select>
          <label for="type">Tipo de hito</label>
          <div class="form-text">
            La naturaleza del hito, tomado de la lista de códigos milestoneType.
          </div>
          <p>{{ getMilestoneTypeDesc(milestoneForm.value.type) }}</p>
        </div>
      </div>

      <div class="row">
        <div class="form-floating col-12 mb-3">
          <textarea
            class="form-control"
            id="description"
            type="text"
            placeholder="Descripción*"
            style="height: 100px"
            formControlName="description"
          ></textarea>
          <label for="description">Descripción*</label>
          <div class="invalid-feedback" data-sb-feedback="description:required">
            Descripción * es requerido.
          </div>
          <div class="form-text">Una descripción del hito.</div>
        </div>
      </div>

      <div class="row">
        <div class="form-floating col mb-3">
          <input
            class="form-control"
            id="URL"
            type="text"
            data-sb-validations="required"
            placeholder="URL*"
            formControlName="code"
          />
          <label for="URL">Codigo*</label>
          <div class="invalid-feedback" data-sb-feedback="title:required">
            Codigo * es requerido.
          </div>
          <div class="form-text">
            Los códigos de hitos pueden utilizarse para dar seguimiento a
            eventos específicos que tienen lugar en el proceso de contratación.
            Por ejemplo, un código de 'Apertura de proposiciones' podría ser
            utilizado para permitir que los participantes consideren que este
            hito señala la fecha en que se aperturan las proposiciones. Los
            códigos de hitos se desprenden de una lista de códigos abierta y
            deben definirse entre los productores de los datos y las
            aplicaciones tecnológicas que los utilicen.
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-floating col mb-3">
          <input
            class="form-control"
            id="datePublished"
            type="date"
            data-sb-validations="required"
            formControlName="dueDate"
          />
          <label for="datePublished">Fecha de vencimiento*</label>
          <div class="invalid-feedback" data-sb-feedback="title:required">
            Fecha de vencimiento * es requerido.
          </div>
          <div class="form-text">La fecha en que se debe cumplir el hito.</div>
        </div>

        <div class="form-floating col mb-3">
          <input
            class="form-control"
            id="datePublished"
            type="date"
            data-sb-validations="required"
            formControlName="dateMet"
          />
          <label for="datePublished">Fecha de cumplimiento*</label>
          <div class="invalid-feedback" data-sb-feedback="title:required">
            Fecha de cumplimiento * es requerido.
          </div>
          <div class="form-text">La fecha en que se cumplió el hito.</div>
        </div>

        <div class="form-floating col mb-3">
          <input
            class="form-control"
            id="dateModified"
            type="date"
            data-sb-validations="required"
            formControlName="dateModified"
          />
          <label for="dateModified">Fecha de modificación*</label>
          <div class="invalid-feedback" data-sb-feedback="title:required">
            Fecha de modificación * es requerido.
          </div>
          <div class="form-text">
            La fecha en que el hito fue revisado o modificado por última vez y
            se cambió el estatus o se confirmó que continuaba siendo correcto.
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <label for="status"> Estatus </label>
        </div>
        <div class="form-floating col mb-3">
          <select class="form-select" formControlName="status">
            <option *ngFor="let d of milestoneStatus" [ngValue]="d.code">
              {{ d.title }}
            </option>
          </select>
          <div class="form-text">
            El estado que fue alcanzado en la fecha proporcionada en 'Fecha de
            modificación' (dateModified), tomada de la lista de códigos
            <a
              href="https://standard.open-contracting.org/1.1/es/schema/codelists/#milestone-type"
              target="_blank"
              >milestoneStatus</a
            >.
          </div>
          <p>
            {{ getMilestoneStatusDesc(milestoneForm.value.status) }}
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <button
            type="button"
            class="btn btn-danger btn-add"
            (click)="addNewMilestone()"
          >
            Agregar hito
          </button>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-12 spin">
          <div *ngIf="mostrarSpinner" class="spinner-container">
            <div class="spinner-border" role="status">
              <span class="visually-hidden">Guardando...</span>
            </div>
            <p class="mt-2">Guardando...</p>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
