/* You can add global styles to this file, and also import other style files */
.content:before {
  z-index: -1;
  position: absolute;
  height: 100vh;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  background:#eef2f6;
}

.content {
  padding: 0;
}

.row>.form-floating>label {
  margin-left: 0.75em;
}

.menu-wrap .menu-info {
  background: #106785;
  background: hsla(197, 58%, 53%, 1);
  background: linear-gradient(-90deg, hsla(197, 58%, 53%, 1) 43%, hsla(197, 83%, 66%, 1) 100%);
  background: -moz-linear-gradient(-90deg, hsla(197, 58%, 53%, 1) 43%, hsla(197, 83%, 66%, 1) 100%);
  background: -webkit-linear-gradient(-90deg, hsla(197, 58%, 53%, 1) 43%, hsla(197, 83%, 66%, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#42a5cc", endColorstr="#61c7f0", GradientType=1);
}

.menu-wrap .menu-info {
  color: rgba(255, 255, 255, 0.7);
}

.menu-wrap .form,
.menu-wrap .menu-info {
  padding: 40px 30px;
}

.menu-wrap {
  -webkit-box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.1);
  background: #fff;
}

.menu-wrap .form {
  background: #fff;
}


.btn.btn-primary {
  background: #4ca6cb;
  color: #fff;
  padding: 15px 20px;
  border: none;
}

.bg-s6 {
  background: #4ca6cb;
  /* box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15), inset 0 -1px 0 rgba(0, 0, 0, 0.15); */
  background: hsla(197, 58%, 53%, 1);
  background: linear-gradient(0deg, hsla(197, 58%, 53%, 1) 43%, hsla(197, 83%, 66%, 1) 100%);
  background: -moz-linear-gradient(0deg, hsla(197, 58%, 53%, 1) 43%, hsla(197, 83%, 66%, 1) 100%);
  background: -webkit-linear-gradient(0deg, hsla(197, 58%, 53%, 1) 43%, hsla(197, 83%, 66%, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#42a5cc", endColorstr="#61c7f0", GradientType=1);
}

.bg-s6-l {
  background: #eef2f6;
}

.bg-s6-footer {
  background: #eef2f6;
}

.nav-item span {
  background: #fff;
  display: flex;
  justify-content: center;
  border-radius: 33px;
  height: 66px;
  align-items: center;
  width: 66px;
}

.nav-item a.nav-link.active span {
  background: #4ca6cb;
  color: #eef2f6;
}

a.nav-link {
  text-align: center;
}