<div class="container mt-4">
  <h2>Lista de Usuarios</h2>
  <button
    class="btn btn-sm btn-outline-success m-2"
    (click)="openCreateModal()"
  >
    <i class="bi bi-plus-circle"></i>
  </button>
  <table class="table table-striped">
    <thead>
      <tr>
        <!-- <th>ID</th> -->
        <th>Nombre</th>
        <th>Primer Apellido</th>
        <th>Segundo Apellido</th>
        <th>Institución</th>
        <th>Roles</th>
        <th colspan="2">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <!-- <td>{{ user._id }}</td> -->
        <td>{{ user.nombre }}</td>
        <td>{{ user.primerApellido }}</td>
        <td>{{ user.segundoApellido }}</td>
        <td>{{ getInstitutionName(user.institution) }}</td>
        <td>{{ getRolesString(user.scope) }}</td>
        <td>
          <button
            class="btn btn-sm btn-outline-success m-2"
            (click)="openEditModal(user)"
          >
            <i class="bi bi-pencil"></i>
          </button>
        </td>
        <td>
          <button
            class="btn btn-lg btn-outline-danger m-2"
            (click)="deleteUser(user._id!)"
          >
            <i class="bi bi-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Modal para crear/editar -->
  <div
    class="modal fade"
    id="userModal"
    tabindex="-1"
    aria-labelledby="userModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="userModalLabel">
            {{ isEdit ? "Editar" : "Crear" }} Usuario
          </h5>
          <button
            type="button"
            class="btn-close"
            (click)="closeModal()"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="userForm" (ngSubmit)="saveUser()">
            <div class="mb-3">
              <label for="nombre" class="form-label">Nombre</label>
              <input
                type="text"
                class="form-control"
                id="nombre"
                formControlName="nombre"
              />
            </div>
            <div class="mb-3">
              <label for="primerApellido" class="form-label"
                >Primer Apellido</label
              >
              <input
                type="text"
                class="form-control"
                id="primerApellido"
                formControlName="primerApellido"
              />
            </div>
            <div class="mb-3">
              <label for="segundoApellido" class="form-label"
                >Segundo Apellido</label
              >
              <input
                type="text"
                class="form-control"
                id="segundoApellido"
                formControlName="segundoApellido"
              />
            </div>
            <div class="mb-3">
              <label for="institution" class="form-label">Institución</label>
              <select
                class="form-select"
                id="institution"
                formControlName="institution"
              >
                <option value="">Selecciona una institución</option>
                <option *ngFor="let inst of institutions" [value]="inst._id">
                  {{ inst.name }}
                </option>
              </select>
            </div>

            <div class="mb-3">
              <label for="username" class="form-label"
                >Correo electronico</label
              >
              <input
                type="text"
                class="form-control"
                id="username"
                formControlName="username"
              />
            </div>

            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input
                type="password"
                class="form-control"
                id="password"
                formControlName="password"
              />
            </div>

            <div class="mb-3">
              <label for="roles" class="form-label">Roles</label>
              <select
                multiple
                class="form-select"
                id="roles"
                formControlName="scope"
              >
                <option *ngFor="let rol of rolesDisponibles" [value]="rol">
                  {{ rol }}
                </option>
              </select>
            </div>
            <button
              type="submit"
              class="btn btn-primary"
              [disabled]="userForm.invalid"
            >
              Guardar
            </button>
            <button
              type="button"
              class="btn btn-secondary ms-2"
              (click)="closeModal()"
            >
              Cancelar
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
