<div class="container">
  <div class="row">
    <div class="col">
      <h3>Implementación</h3>
      <hr />
    </div>
  </div>

  <div class="row">
    <div class="form-floating col mb-5" [formGroup]="statusForm">
      <select class="form-select" formControlName="status">
        <option *ngFor="let s of implementationStatus" [ngValue]="s.code">
          {{ s.title }}
        </option>
      </select>
      <label for="">Estatus de la implementación</label>
      <p>{{ getImplementationStatusDesc(statusForm.value.status) }}</p>
    </div>
  </div>
  <!--  Transactions Fieldset -->
  <div class="row">
    <div class="col">
      <h3>Transacciones</h3>
      <hr />
      <p>Una lista de transacciones de pago realizadas contra este contrato.</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="table-responsive-sm">
        <table class="table table-hover table-striped mb-10">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Fecha de transacción</th>
              <th scope="col">Método de pago</th>
              <th scope="col">Monto</th>
              <th scope="col">Moneda</th>
              <th scope="col">Pagador</th>
              <th scope="col">Beneficiario</th>
              <th scope="col">Opciones</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
    </div>
  </div>

  <form [formGroup]="transactionsForm">
    <div class="row mb-3">
      <div class="form-floating col">
        <input
          type="text"
          class="form-control"
          id="TransactionsSource"
          placeholder="Fuente de datos"
          formControlName="source"
        />
        <label for="TransactionsSource" class="form-label"
          >Fuente de datos</label
        >
      </div>
    </div>
    <div class="row mb-3">
      <div class="form-floating col-md-6">
        <input
          type="date"
          class="form-control"
          id="TransacctionsDate"
          placeholder="Fecha de la transacción"
          formControlName="date"
        />
        <label for="TransacctionsDate" class="form-label"
          >Fecha de la transacción</label
        >
      </div>
      <div class="form-floating col-md-6">
        <input
          type="text"
          class="form-control"
          id="TransactionsPaymentMethod"
          placeholder="Método de pago"
          formControlName="paymentMethod"
        />
        <label for="TransactionsPaymentMethod" class="form-label"
          >Método de pago</label
        >
      </div>
    </div>

    <fieldset class="border p-3 mb-3">
      <legend class="w-auto px-2">Valor</legend>
      <div class="row" formGroupName="value">
        <div class="form-floating col-md-6">
          <input
            type="number"
            class="form-control"
            id="TransactionsValueAmount"
            placeholder="Monto de la transacción"
            formControlName="amount"
          />
          <label for="TransactionsValueAmount">Monto</label>
        </div>

        <div class="form-floating form-group col-md-6">
          <select
            class="form-select"
            aria-label="moneda"
            formControlName="currency"
          >
            <option *ngFor="let c of currency" [ngValue]="c.code">
              {{ c.title }}
            </option>
          </select>
          <label for="TransactionsValueCurrency">Moneda</label>
        </div>
      </div>
    </fieldset>

    <fieldset class="border p-3 mb-3">
      <legend class="w-auto px-2">Pagador</legend>
      <div class="row">
        <div class="form-floating col-10 mb-5" [formGroup]="payerForm">
          <select class="form-select" formControlName="id">
            <option selected>Seleccione un pagador</option>
            <option *ngFor="let p of payers" [ngValue]="p">
              pagador {{ p?.name }}
            </option>
          </select>
        </div>
        <div class="col-2">
          <button
            type="button"
            class="btn btn-danger btn-add"
            (click)="addPayer()"
          >
            Agregar
          </button>
        </div>
      </div>
      <div class="row">
        <div class="table-responsive">
          <table class="table table-hover table-striped mb-10">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">Opciones</th>
              </tr>
            </thead>
            <tbody>
              <tr
                class=""
                *ngFor="let payer of payerForm.value.payers; index as i"
              >
                <td scope="row">{{ payer.id }}</td>
                <td>{{ payer.name }}</td>
                <td>
                  <button
                    type="button"
                    class="btn btn-danger btn-delete"
                    (click)="deletePayer(i)"
                  >
                    Eliminar
                  </button>
                </td>
              </tr>
              <tr *ngIf="payerForm.value.payers.length === 0">
                <th scope="row" colspan="3" class="text-center">
                  Sin registros.
                </th>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </fieldset>
    <fieldset>
      <legend class="w-auto px-2">Beneficiario</legend>
      <div class="row mb-3">
        <div class="form-floating col-md-6 mb-5">
          <input
            type="text"
            class="form-control"
            id="TransactionsPayeeId"
            placeholder="Identificador del actor"
          />
          <label for="TransactionsPayeeId">Identificador del actor</label>
        </div>
        <div class="form-floating col-md-6 mb-5">
          <input
            type="text"
            class="form-control"
            id="TransactionsPayeeName"
            placeholder="Nombre del actor"
          />
          <label for="TransactionsPayeeName">Nombre del actor</label>
        </div>
      </div>
    </fieldset>
    <div class="row">
      <div class="form-floating col-md-12 mb-5">
        <input
          type="text"
          class="form-control"
          id="TransactionsUri"
          placeholder="URI"
        />
        <label for="TransactionsUri">URI</label>
      </div>
    </div>
  </form>
</div>
